<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>관리자 권한 관리</title>
		<th:block th:include="layout/customHead"></th:block>
		<!-- head에 들어가는 스타일시트 or 스크립트는 여기에 삽입 -->
		<!-- Single Switche 사용하기 위한 css-->
		<link rel="stylesheet" th:href="@{dist/css/custom.css}"> <!-- w3 적용 -->
		<script>
		/* $("input:checkbox:checked").length; 체크된 갯수 확인 */
		$(document).ready(function() {
			
			$.ajax({
				url : '/admin/adminSecurity/getAdminSecurity',
				type : 'get',
				success:function(data) {
					console.log('성공');
					console.log(data);
					
					$(data).each(function(i, item){
						let contents = "";
						
						contents += '<tr class="tBodyClass">';
						contents += '<input type="hidden" id="adminId' + i + '" value="' + item.adminId + '">';
						contents += '<td> <input type="hidden" id="memberLevelTitle' + i + '" value="' + item.memberLevelTitle + '">'+item.memberLevelTitle + '</td>';
						contents += '<td> <input type="hidden" id="adminName' + i + '" value="' + item.adminName+'">' + item.adminName + '</td>';
						contents += '<td> <input type="hidden" id="departmentName' + i + '" value="' + item.departmentName + '">'+item.departmentName + '</td>';
						
						if(item.adminLevelManagement == 'Y') {
							contents += '<td><input id="adminLevelManagement'+i+'" name="'+i+'" type="checkbox" checked="checked"> </td>';
						} else {
							contents += '<td><input id="adminLevelManagement'+i+'" name="'+i+'" type="checkbox"></td>';
						}
						if(item.adminLevelPersonnel == 'Y') {
							contents += '<td><input id="adminLevelPersonnel'+i+'" name="'+i+'" type="checkbox" checked="checked"> </td>';
						} else {
							contents += '<td><input id="adminLevelPersonnel'+i+'" name="'+i+'" type="checkbox"></td>';
						}
						if(item.adminLevelFinance == 'Y') {
							contents += '<td><input id="adminLevelFinance'+i+'" name="'+i+'" type="checkbox" checked="checked"> </td>';
						} else {
							contents += '<td><input id="adminLevelFinance'+i+'" name="'+i+'" type="checkbox"></td>';
						}
						if(item.adminLevelWorkflow == 'Y') {
							contents += '<td><input id="adminLevelWorkflow'+i+'" name="'+i+'" type="checkbox" checked="checked"> </td>';
						} else {
							contents += '<td><input id="adminLevelWorkflow'+i+'" name="'+i+'" type="checkbox"></td>';
						}
						if(item.adminLevelData == 'Y') {
							contents += '<td><input id="adminLevelData'+i+'" name="'+i+'" type="checkbox" checked="checked"> </td>';
						} else {
							contents += '<td><input id="adminLevelData'+i+'" name="'+i+'" type="checkbox"></td>';
						}
						if(item.adminLevelCooperation == 'Y') {
							contents += '<td><input id="adminLevelCooperation'+i+'" name="'+i+'" type="checkbox" checked="checked"> </td>';
						} else {
							contents += '<td><input id="adminLevelCooperation'+i+'" name="'+i+'" type="checkbox"></td>';
						}
						if(item.adminLevelSecurity == 'Y') {
							contents += '<td><input id="adminLevelSecurity'+i+'" name="'+i+'" type="checkbox" checked="checked"> </td>';
						} else {
							contents += '<td><input id="adminLevelSecurity'+i+'" name="'+i+'" type="checkbox"></td>';
						}
						if(item.adminLevelApprovalProcess == 'Y') {
							contents += '<td><input id="adminLevelApprovalProcess'+i+'" name="'+i+'" type="checkbox" checked="checked"> </td>';
						} else {
							contents += '<td><input id="adminLevelApprovalProcess'+i+'" name="'+i+'" type="checkbox"></td>';
						}
						contents += '</tr>';
						$('#resultTable').append(contents);
					});
				}
			});	
			
			
				
			$('#saveBtn').click(function() { // 저장 버튼 클릭시 
				console.log('저장버튼 클릭');
			
				let count = $('.tBodyClass').length;  // 뿌려준 데이터의 개수  반복횟수를 정하기위해
				console.log('count : ' + count);
				
				let chkbox = new Array(); // [];
				let level = new Object(); // {};
			
				for(let i = 0; i<count ; i++){
					
					let adminId = $('#adminId' + i + '').val();
					
					let departmentName = $('#departmentName' + i + '').val();
					let	adminName = $('#adminName' + i + '').val();
					let	memberLevelTitle = $('#memberLevelTitle' + i + '').val();
					
					let adminLevelManagement = $('#adminLevelManagement'+i+'').is(":checked");
					let adminLevelPersonnel = $('#adminLevelPersonnel'+i+'').is(":checked");
					let adminLevelFinance = $('#adminLevelFinance'+i+'').is(":checked");
					let adminLevelWorkflow = $('#adminLevelWorkflow'+i+'').is(":checked");
					let adminLevelData = $('#adminLevelData'+i+'').is(":checked");
					let adminLevelCooperation = $('#adminLevelCooperation'+i+'').is(":checked");
					let adminLevelSecurity = $('#adminLevelSecurity'+i+'').is(":checked");
					let adminLevelApprovalProcess = $('#adminLevelApprovalProcess'+i+'').is(":checked");
					
					if(!adminLevelManagement) { 
						adminLevelManagement = 'N'; 
					} else { 
						adminLevelManagement = 'Y'; 
					}
					if(!adminLevelPersonnel) { 
						adminLevelPersonnel = 'N'; 
					} else { 
						adminLevelPersonnel = 'Y'; 
					}
					if(!adminLevelFinance) { 
						adminLevelFinance = 'N'; 
					} else { 
						adminLevelFinance = 'Y'; 
					}
					if(!adminLevelWorkflow) { 
						adminLevelWorkflow = 'N'; 
					} else { 
						adminLevelWorkflow = 'Y'; 
					}
					if(!adminLevelData) { 
						adminLevelData = 'N'; 
					} else { 
						adminLevelData = 'Y'; 
					}
					if(!adminLevelCooperation) { 
						adminLevelCooperation = 'N'; 
					} else { 
						adminLevelCooperation = 'Y'; 
					}
					if(!adminLevelSecurity) { 
						adminLevelSecurity = 'N'; 
					} else { 
						adminLevelSecurity = 'Y'; 
					}
					if(!adminLevelApprovalProcess) { 
						adminLevelApprovalProcess = 'N'; 
					} else { 
						adminLevelApprovalProcess = 'Y'; 
					}
	
					console.log('adminId : '+adminId);
					console.log('departmentName : '+departmentName);
					console.log('adminName : '+adminName);
					console.log('memberLevelTitle : '+memberLevelTitle);
					
					console.log('adminLevelManagement : '+adminLevelManagement);
					console.log('adminLevelPersonnel : '+adminLevelPersonnel);
					console.log('adminLevelFinance : '+adminLevelFinance);
					console.log('adminLevelWorkflow : '+adminLevelWorkflow);
					console.log('adminLevelData : '+adminLevelData);
					console.log('adminLevelCooperation : '+adminLevelCooperation);
					console.log('adminLevelSecurity : '+adminLevelSecurity);
					console.log('adminLevelApprovalProcess : '+adminLevelApprovalProcess);
					
					adminLevel = {
						adminId : adminId,
						departmentName : departmentName,
						adminName : adminName,
						memberLevelTitle : memberLevelTitle,
						adminLevelManagement : adminLevelManagement,
						adminLevelPersonnel : adminLevelPersonnel,
						adminLevelFinance :adminLevelFinance,
						adminLevelWorkflow : adminLevelWorkflow,
						adminLevelData : adminLevelData,
						adminLevelCooperation : adminLevelCooperation,
						adminLevelSecurity : adminLevelSecurity,
						adminLevelApprovalProcess : adminLevelApprovalProcess
					};

					
					chkbox.push(adminLevel);
					console.log('chkbox : '+chkbox);
					
				}	//  /for문 끝
				
				
			 	
				$.ajax({
					url : '/admin/adminSecurity/modifyAdminSecurity',
					type : 'post',
					data : {json : JSON.stringify(chkbox)},
					success:function(data) {
						console.log('성공');
						console.log(data);
						location.reload(); // 새로고침
					}
					
				});
 				
			}); //  /save버튼  닫힘
				
		/* 	
			for(let i = 0; i<count ; i++){
					let adminLevelApprovalProcess = $('#checkbox'+i+'');
					let adminLevelCooperation = $('#checkbox'+i+'');
					let adminLevelData = $('#checkbox'+i+'');
					let adminLevelFinance = $('#checkbox'+i+'');
					let adminLevelManagement = $('#checkbox'+i+'');
					let adminLevelPersonnel = $('#checkbox'+i+'');
					let adminLevelSecurity = $('#checkbox'+i+'');
					let adminLevelWorkflow = $('#checkbox'+i+'');
					
					for(let i = 0; i<)
				
				
				}
			
				let adminLevel = {adminLevelApprovalProcess:adminLevelApprovalProcess,
								  adminLevelCooperation:adminLevelCooperation,
								  adminLevelData:adminLevelData,
								  adminLevelFinance:adminLevelFinance,
								  adminLevelManagement:adminLevelManagement,
								  adminLevelPersonnel:adminLevelPersonnel,
								  adminLevelSecurity:adminLevelSecurity,
								  adminLevelWorkflow:adminLevelWorkflow
				}
				
				levelList[i] = adminLevel;
				
			});
			 */
				
			
		});
		</script>
	</th:block>
	
	<!-- 본문 -->
	<th:block layout:fragment="customBody">
		<div class="page-header">
			<div class="page-header row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="ik ik-layers bg-blue"></i>
						<div class="d-inline">
							<!-- 증명서 발급 - 증명서 신청 -->
							<h5>보안 관리 - 권한 설정</h5>
							<span>관리자에게 랜덤 권한을 부여합니다.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
	<!-- test -->
	<!--<div class="border-checkbox-section">
		    <div class="border-checkbox-group border-checkbox-group-primary">
		        <input class="border-checkbox" type="checkbox" id="checkbox1">
		        <label class="border-checkbox-label" for="checkbox1">Primary</label>
		    </div>
		</div> -->		
	           
	
	<div class="row">
		<div class="col-md-12">
		<!-- 부트스트립 적용 -->
		<div class="card">
	        <div class="card-header d-block">
	            <h3>관리자 권한 관리</h3>
	       		<span>이곳은 <code>관리자권한</code>을 부여관리 하는곳입니다.</span>
	            <div align="right">
					<button id="saveBtn" style="padding: 5px 10px 5px 10px; margin: 0px 0px 0px 0px;">저장</button>
		        </div>    
	        </div>
	        <div class="card-body p-0 table-border-style">
	            <div class="table-responsive">
	                <table class="table table-hover" id="resultTable">
	                
	                    <thead>
	                        <tr>
				   				<td>분류</td>	
				   				<td>이름</td>
				   				<td>부서</td>
				   				<td>조직 관리</td>
				   				<td>인사관리</td>
				   				<td>재무 관리</td>
				   				<td>워크플로우 관리</td>
				   				<td>데이터 관리</td>
				   				<td>협업 관리</td>
				   				<td>요금 결제 관리</td>
				   				<td>보안 관리</td>	
				   			</tr>
	                    </thead>
	                    
	                    <tbody>
							<!-- 값이 뿌려지는 곳 -->
	                    </tbody>
	                    
	                </table>
	            </div>
	        </div>
	    </div>
		</div>
	</div>
	
		
	</th:block>
	
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
		<!-- 스크립트가 길어서  로딩 시간이 오래걸릴 경우 여기에 삽입 -->
		 <!-- Single Switche 사용하기 위한 js-->
        <script src="plugins/select2/dist/js/select2.min.js"></script>
        <script src="plugins/summernote/dist/summernote-bs4.min.js"></script>
        <script src="plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <script src="plugins/jquery.repeater/jquery.repeater.min.js"></script>
        <script src="plugins/mohithg-switchery/dist/switchery.min.js"></script>
        <script src="js/form-advanced.js"></script>
    </th:block>
</html>
