<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<!-- jquery head 부분 넣는곳 -->
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>setting</title>
		<th:block th:include="layout/customHead"></th:block>
				
		<meta http-equiv="Content-Type" content="text/html</td> charset=UTF-8" />
		<title>leaveCategoryList.html</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		
	</th:block>
	
	<!-- 본문 -->
	<th:block layout:fragment="customBody">	
		<h2>인사 관리 - 인사 설정</h2>
		<br/>
		
		<div class="row">
			<div class="col-11" style="padding-left:50px; border-right: 1px solid #ccc;">
				<div class="card">
					<div class="card-header">인사 정보 설정</div>
					<div class="card-body">
						<div>조직원 정보 노출 설정</div>
						<div>(인사 관리 메뉴 중에서 조직도 관리 및 조직원 정보 관리에서 퇴사자를 노출할 지 여부를 설정합니다.)</div>
						<br>
						<div>
							<input th:type="checkbox"> 퇴사자 노출 설정
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">인사 기준 설정</div>
					<div class="card-body">
						<div>근로 기준 설정</div>
						<div>(근로시간을 설정하여 휴가일수 등에 근로 기준으로 사용합니다.)</div>
						<br>
						<div>주간 근무일</div>
						<input th:type="checkbox">월요일
						<input th:type="checkbox">화요일
						<input th:type="checkbox">수요일
						<input th:type="checkbox">목요일
						<input th:type="checkbox">금요일
						<input th:type="checkbox">토요일
						<input th:type="checkbox">일요일
						<br><br>
						<div class="input-group">	
							1일 기준 근로 시간 :<input type="text" class="form-control"  style="text-align:center; width:50px;">시간 
						</div>
						<div class="input-group">	
							<div>주당 근로 시간  : </div>
							<div class="form-control col-xl-1">
								<input type="text" class="form-control col-xl-1"  style="text-align:center; width:50px;">시간 
							</div>
							
						</div>
						<div class="input-group">	
							<div>주당 연장 근로 시간 : 
								<input type="text" class="form-control"  style="text-align:center; width:50px;">시간 
							</div>
						</div>
					
						
						
					</div>
				</div>
				<div class="card">
					<div class="card-header">인사 항목 설정</div>
					<div class="card-body">
					
					test
					
					</div>
					
				</div>
				<div class="card">
					<div class="card-header">고용 형태 항목 설정</div>
					<div class="card-body">
					
					test
					
					</div>
					
				</div>
			</div>	
		</div>			
		
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
	
</html>
