<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- 조직도 재귀쿼리 -->
<mapper namespace="ksmart31.team01.department.mapper.DepartmentMapper">
	<!-- 재귀함수와 쿼리를 이용하여 조직도를 보여준다 -->
	<select id="selectDepartmentList" resultType="ksmart31.team01.department.domain.Department">
		SELECT  CONCAT(REPEAT('-', level - 1), hi.department_name) AS departmentName		
		FROM    (
		        SELECT  hierarchy_connect_by_parentIdx_eq_prior_idx(idx) AS idx, @level AS level
		        FROM    (
		                SELECT  @start_with := 0,
		                        @idx := @start_with,
		                        @level := 0
		                ) vars, department
		        WHERE   @idx IS NOT NULL
		        ) ho
		JOIN    department AS hi
		ON      hi.idx = ho.idx
		ORDER BY hi.department_category_code ASC
	</select>
	
	<!-- department부서명과 member조직원 기본정보를 departmentName으로 조인해서 가져온다 -->	
	<resultMap type="ksmart31.team01.department.domain.DepartmentJoinMember" id="selectDepartmentJoinMemberList">
		<result column="member_name" property="memberName"/>
		<result column="member_level_title" property="memberLevelTitle"/>
		<result column="department_category_name" property="departmentCategoryName"/>
		<result column="department_division_name" property="departmentDivisionName"/>
		<result column="department_section_name" property="departmentSectionName"/>
		<result column="member_position_name" property="memberPositionName"/>
		<result column="member_id" property="memberId"/>
		<result column="member_phone" property="memberPhone"/>
		<result column="member_mobile" property="memberMobile"/>
		<result column="member_join_day" property="memberJoinDay"/>
		<result column="member_address" property="memberAddress"/>
		<result column="department_number" property="departmentNumber"/>		
	</resultMap>	
	<select id="selectDepartmentJoinMemberList" resultType="ksmart31.team01.department.domain.DepartmentJoinMember" parameterType="java.util.Map" resultMap="selectDepartmentJoinMemberList">
		SELECT
		<if test="departmentName == 'fullView'">
			DISTINCT
		</if>
			m.member_name
			,m.member_level_title
			,m.department_category_name
			,m.department_division_name
			,m.department_section_name
			,m.member_position_name
			,m.member_id
			,m.member_phone
			,m.member_mobile
			,m.member_join_day
			,m.member_address
		FROM department d
		INNER JOIN member m				
		<!-- choose if else처럼 쓸수있다  -->		
		<if test="departmentName != 'fullView'">
			<if test="departmentNumber == 1">
				ON d.department_name = m.department_division_name
			</if>
			<if test="departmentNumber == 2">
				ON d.department_name = m.department_section_name
			</if>
			
			<if test="departmentNumber == 0">
				ON d.department_name = m.department_category_name
			</if>
				WHERE d.department_name = #{departmentName}	
		</if>
	</select>
	<!-- 조인한 결과를 memberId로 select한 내용을 뿌려준다 -->
	<resultMap type="ksmart31.team01.department.domain.DepartmentJoinMember" id="selectDepartmentJoinMemberListByMemberId">
		<result column="member_name" property="memberName"/>
		<result column="member_level_title" property="memberLevelTitle"/>
		<result column="department_category_name" property="departmentCategoryName"/>
		<result column="department_division_name" property="departmentDivisionName"/>
		<result column="department_section_name" property="departmentSectionName"/>
		<result column="member_position_name" property="memberPositionName"/>
		<result column="member_id" property="memberId"/>
		<result column="member_phone" property="memberPhone"/>
		<result column="member_mobile" property="memberMobile"/>
		<result column="member_join_day" property="memberJoinDay"/>
		<result column="member_address" property="memberAddress"/>		
	</resultMap>
	<select id="selectDepartmentJoinMemberListByMemberId" parameterType="String" resultMap="selectDepartmentJoinMemberListByMemberId">
		SELECT
			m.member_name
			,m.member_level_title
			,m.department_category_name
			,m.department_division_name
			,m.department_section_name
			,m.member_position_name
			,m.member_id
			,m.member_phone
			,m.member_mobile
			,m.member_join_day
			,m.member_address
		FROM department d
		INNER JOIN member m		
		ON d.department_name = m.department_name	
		WHERE m.member_id = #{memberId}				
	</select>
	<!-- memberInsert -->
	<insert id="insertMember" parameterType="ksmart31.team01.member.domain.Member">
		insert into
			member
			(
			member_code
			,member_id
			,member_name
			,member_employee_code
			,department_name
			,department_category_name
			,department_division_name
			,department_section_name
			,member_position_name
			,member_level_title
			,member_status
			,member_join_day
			,member_pw			
			)
			
			SELECT CONCAT('member_code','_', (SELECT MAX(substring(member_code, 13)+1) FROM member))
			,#{memberId}
			,#{memberName}
			,#{memberEmployeeCode}
			,#{departmentName}
			,#{departmentCategoryName}
			,#{departmentDivisionName}
			,#{departmentSectionName}
			,#{memberPositionName}
			,#{memberLevelTitle}
			,#{memberStatus}
			,now()
			,#{memberPw}			
	</insert>
	
	<!-- selectDepartmentName 리스트 -->
	<resultMap type="ksmart31.team01.department.domain.Department" id="selectDepartmentName">
		<result column="department_name" property="departmentName"></result>
	</resultMap>
	<select id="selectDepartmentName" resultMap="selectDepartmentName">
		select
			department_name
		from department	
	</select>
	<!-- selectDepartmentCategoryName 리스트 -->
	<resultMap type="ksmart31.team01.department.domain.Department" id="selectDepartmentCategoryName">
		<result column="department_category_name" property="departmentCategoryName"></result>
	</resultMap>
	<select id="selectDepartmentCategoryName" resultMap="selectDepartmentCategoryName">
		select distinct
			department_category_name
		from department	
	</select>
	<!-- selectDepartmentDivisionName 리스트 -->
	<resultMap type="ksmart31.team01.department.domain.Department" id="selectDepartmentDivisionName">
		<result column="department_division_name" property="departmentDivisionName"></result>
	</resultMap>
	<select id="selectDepartmentDivisionName" resultMap="selectDepartmentDivisionName">
		select distinct
			department_division_name
		from department	
	</select>
	<!-- selectDepartmentSectionName 리스트 -->
	<resultMap type="ksmart31.team01.department.domain.Department" id="selectDepartmentSectionName">
		<result column="department_section_name" property="departmentSectionName"></result>
	</resultMap>
	<select id="selectDepartmentSectionName" resultMap="selectDepartmentSectionName">
		select distinct
			department_section_name
		from department	
	</select>
	<!-- memberPosition select -->
	<resultMap type="ksmart31.team01.member.domain.MemberPosition" id="selectMemberPositon">
		<result column="member_position_name" property="memberPositionName"></result>
	</resultMap>
	<select id="selectMemberPositon" resultMap="selectMemberPositon">
		select 
			member_position_name			
		from member_position
	</select>
	
	<!-- Member 개인정보 -->
	<resultMap type="ksmart31.team01.member.domain.Member" id="selectMemberMyProfile">	
				<!-- db컬럼 -->		<!-- domain 데이터변수명 -->
		<result column="member_phone" property="memberPhone"/>
		<result column="member_mobile" property="memberMobile"/>
		<result column="member_address" property="memberAddress"/>
		<result column="member_birth" property="memberBirth"/>
		<result column="member_gender" property="memberGender"/>
	</resultMap>
	<select id="selectMemberMyProfile" resultMap="selectMemberMyProfile">
		SELECT 
			member_phone,
			member_mobile,
			member_address,
			member_birth,
			member_gender
		FROM member
		WHERE
			member_id = #{memberId}
	</select>
		
	<!-- Member 개인정보 -->
	<resultMap type="ksmart31.team01.member.domain.Member" id="selectMemberMyInfo">	
				<!-- db컬럼 -->		<!-- domain 데이터변수명 -->
		<result column="member_id" property="memberId"/>
		<result column="department_category_name" property="departmentCategoryName"/>
		<result column="department_division_name" property="departmentDivisionName"/>
		<result column="department_section_name" property="departmentSectionName"/>
		<result column="member_position_name" property="memberPositionName"/>
		<result column="member_status" property="memberStatus"/>
		<result column="member_level_title" property="memberLevelTitle"/>
		<result column="member_form_of_employment" property="memberFormOfEmployment"/>
		<result column="member_employee_code" property="memberEmployeeCode"/>
		<result column="member_join_day" property="memberJoinDay"/>
	</resultMap>
	<select id="selectMemberMyInfo" resultMap="selectMemberMyInfo">
		SELECT 
			member_id,
			department_category_name,
			department_division_name,
			department_section_name,
			member_position_name,
			member_status,
			member_level_title,
			member_form_of_employment,
			member_employee_code,
			member_join_day
		FROM member
		WHERE
			member_id = #{memberId}
	</select>
	
	<!-- MemberEducation 개인정보 -->
	<resultMap type="ksmart31.team01.member.domain.MemberEducation" id="selectMemberMyEducation">	
				<!-- db컬럼 -->		<!-- domain 데이터변수명 -->
		<result column="member_education_start_day" property="memberEducationStartDay"/>
		<result column="member_education_end_day" property="memberEducationEndDay"/>
		<result column="member_education_institution" property="memberEducationInstitution"/>
		<result column="member_education_now" property="memberEducationNow"/>
		<result column="member_education_degree" property="memberEducationDegree"/>
		<result column="member_education_major" property="memberEducationMajor"/>	
	</resultMap>
	<select id="selectMemberMyEducation" resultMap="selectMemberMyEducation">
		SELECT 
			member_education_start_day,
			member_education_end_day,
			member_education_institution,
			member_education_now,
			member_education_degree,
			member_education_major		
		FROM 
			member_education 
		
		WHERE
			member_id = #{memberId} 
	</select>
	
	<!-- MemberProject 개인정보 -->
	<resultMap type="ksmart31.team01.member.domain.MemberProject" id="selectMemberMyProject">	
				<!-- db컬럼 -->		<!-- domain 데이터변수명 -->
		<result column="member_project_start_day" property="memberProjectStartDay"/>
		<result column="member_project_end_day" property="memberProjectEndDay"/>
		<result column="member_project_name" property="memberProjectName"/>
		<result column="member_project_place" property="memberProjectPlace"/>
		<result column="member_project_desc" property="memberProjectDesc"/>
		<result column="member_project_url" property="memberProjectUrl"/>		
	</resultMap>	
	<select id="selectMemberMyProject" resultMap="selectMemberMyProject">		
		<!-- 19-06-30 동적쿼리 반복문사용해야됨 -->
		SELECT 
			member_project_start_day,
			member_project_end_day,
			member_project_name,
			member_project_place,
			member_project_desc,
			member_project_url			
		FROM 
			member_project		
		WHERE
			member_id = #{memberId}			
	</select>
	
	<!-- MemberLicense 개인정보 -->
	<resultMap type="ksmart31.team01.member.domain.MemberLicense" id="selectMemberMyLicense">
				<!-- db컬럼 -->		<!-- domain 데이터변수명 -->
		<result column="member_license_start_day" property="memberLicenseStartDay"/>
		<result column="member_license_end_day" property="memberLicenseEndDay"/>
		<result column="member_license_name" property="memberLicenseName"/>
		<result column="member_license_number" property="memberLicenseNumber"/>
		<result column="member_license_url" property="memberLicenseUrl"/>
		<result column="member_license_authentication" property="memberLicenseAuthentication"/>		
	</resultMap>	
	<select id="selectMemberMyLicense" resultMap="selectMemberMyLicense">
		SELECT 
			member_license_start_day,
			member_license_end_day,
			member_license_name,
			member_license_number,
			member_license_url,
			member_license_authentication			
		FROM 
			member_license	
		WHERE
			member_id = #{memberId}
	</select>
	<!-- MemberAcademy 개인정보 -->
	<resultMap type="ksmart31.team01.member.domain.MemberAcademy" id="selectMemberMyAcademy">	
			<!-- 	db컬럼		domain 데이터변수명 -->
		<result column="member_academy_start_day" property="memberAcademyStartDay"/>
		<result column="member_academy_end_day" property="memberAcademyEndDay"/>
		<result column="member_academy_name" property="memberAcademyName"/>
		<result column="member_academy_complete" property="memberAcademyComplete"/>
		<result column="member_academy_institution" property="memberAcademyInstitution"/>
		<result column="member_academy_place" property="memberAcademyPlace"/>
		<result column="member_academy_purpose" property="memberAcademyPurpose"/>
		<result column="member_academy_cost" property="memberAcademyCost"/>
		<result column="member_academy_desc" property="memberAcademyDesc"/>		
	</resultMap>  	
	<select id="selectMemberMyAcademy" resultMap="selectMemberMyAcademy" >
		SELECT 
			member_academy_start_day,
			member_academy_end_day,
			member_academy_name,
			member_academy_complete,
			member_academy_institution,
			member_academy_place,
			member_academy_purpose,
			member_academy_cost,
			member_academy_desc		
		FROM 
			member_academy		
		WHERE
			member_id = #{memberId}
	</select>
	
	<!-- MemberCareer 개인정보 -->
	<resultMap type="ksmart31.team01.member.domain.MemberCareer" id="selectMemberMyCareer">	
				<!-- db컬럼 -->		<!-- domain 데이터변수명 -->
		<result column="member_career_start_day" property="memberCareerStartDay"/>
		<result column="member_career_end_day" property="memberCareerEndDay"/>
		<result column="member_career_company" property="memberCareerCompany"/>
		<result column="member_position_name" property="memberPositionName"/>
		<result column="member_career_out_reason" property="memberCareerOutReason"/>		
	</resultMap>
	<select id="selectMemberMyCareer" resultMap="selectMemberMyCareer">
		SELECT
			member_career_start_day,
			member_career_end_day,
			member_career_company,
			member_position_name,
			member_career_out_reason
		FROM member_career
		WHERE member_id = #{memberId}
	</select>
	
	<!-- MemberAwards 개인정보 -->
	<resultMap type="ksmart31.team01.member.domain.MemberAwards" id="selectMemberMyAwards">
				<!-- db컬럼 -->		<!-- domain 데이터변수명 -->
		<result column="member_awards_day" property="memberAwardsDay"/>
		<result column="member_awards_name" property="memberAwardsName"/>
		<result column="member_awards_institution" property="memberAwardsInstitution"/>
		<result column="member_awards_desc" property="memberAwardsDesc"/>		
	</resultMap>	
	<select id="selectMemberMyAwards" resultMap="selectMemberMyAwards">
		SELECT 
			member_awards_day,
			member_awards_name,
			member_awards_institution,
			member_awards_desc			
		FROM 
			member_awards		
		WHERE
			member_id = #{memberId}
	</select>
	
	
</mapper>			
		