<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- 조직도 재귀쿼리 -->
<mapper namespace="ksmart31.team01.department.mapper.DepartmentMapper">
	<!-- 재귀함수와 쿼리를 이용하여 조직도를 보여준다 -->
	<select id="selectDepartmentList" resultType="ksmart31.team01.department.domain.Department">
		SELECT  CONCAT(REPEAT('-', level - 1), hi.department_name) AS departmentName		
		FROM    (
		        SELECT  hierarchy_connect_by_parentIdx_eq_prior_idx(idx) AS idx, @level AS level
		        FROM    (
		                SELECT  @start_with := 0,
		                        @idx := @start_with,
		                        @level := 0
		                ) vars, department
		        WHERE   @idx IS NOT NULL
		        ) ho
		JOIN    department AS hi
		ON      hi.idx = ho.idx
		ORDER BY hi.department_category_code ASC
	</select>
	
	<!-- department부서명과 member조직원 기본정보를 departmentName으로 조인해서 가져온다 -->	
	<resultMap type="ksmart31.team01.department.domain.DepartmentJoinMember" id="selectDepartmentJoinMemberList">
		<result column="member_name" property="memberName"/>
		<result column="member_level_title" property="memberLevelTitle"/>
		<result column="department_category_name" property="departmentCategoryName"/>
		<result column="department_division_name" property="departmentDivisionName"/>
		<result column="department_section_name" property="departmentSectionName"/>
		<result column="member_position_name" property="memberPositionName"/>
		<result column="member_id" property="memberId"/>
		<result column="member_phone" property="memberPhone"/>
		<result column="member_mobile" property="memberMobile"/>
		<result column="member_join_day" property="memberJoinDay"/>
		<result column="member_address" property="memberAddress"/>
		<result column="department_number" property="departmentNumber"/>		
	</resultMap>	
	<select id="selectDepartmentJoinMemberList" resultType="ksmart31.team01.department.domain.DepartmentJoinMember" parameterType="java.util.Map" resultMap="selectDepartmentJoinMemberList">
		SELECT
		<if test="departmentName == 'fullView'">
			DISTINCT
		</if>
			m.member_name
			,m.member_level_title
			,m.department_category_name
			,m.department_division_name
			,m.department_section_name
			,m.member_position_name
			,m.member_id
			,m.member_phone
			,m.member_mobile
			,m.member_join_day
			,m.member_address
		FROM department d
		INNER JOIN member m				
		<!-- choose if else처럼 쓸수있다  -->		
		<if test="departmentName != 'fullView'">
			<if test="departmentNumber == 1">
				ON d.department_name = m.department_division_name
			</if>
			<if test="departmentNumber == 2">
				ON d.department_name = m.department_section_name
			</if>
			
			<if test="departmentNumber == 0">
				ON d.department_name = m.department_category_name
			</if>
				WHERE d.department_name = #{departmentName}	
		</if>
	</select>
	<!-- 조인한 결과를 memberId로 select한 내용을 뿌려준다 -->
	<resultMap type="ksmart31.team01.department.domain.DepartmentJoinMember" id="selectDepartmentJoinMemberListByMemberId">
		<result column="member_name" property="memberName"/>
		<result column="member_level_title" property="memberLevelTitle"/>
		<result column="department_category_name" property="departmentCategoryName"/>
		<result column="department_division_name" property="departmentDivisionName"/>
		<result column="department_section_name" property="departmentSectionName"/>
		<result column="member_position_name" property="memberPositionName"/>
		<result column="member_id" property="memberId"/>
		<result column="member_phone" property="memberPhone"/>
		<result column="member_mobile" property="memberMobile"/>
		<result column="member_join_day" property="memberJoinDay"/>
		<result column="member_address" property="memberAddress"/>		
	</resultMap>
	<select id="selectDepartmentJoinMemberListByMemberId" parameterType="String" resultMap="selectDepartmentJoinMemberListByMemberId">
		SELECT
			m.member_name
			,m.member_level_title
			,m.department_category_name
			,m.department_division_name
			,m.department_section_name
			,m.member_position_name
			,m.member_id
			,m.member_phone
			,m.member_mobile
			,m.member_join_day
			,m.member_address
		FROM department d
		INNER JOIN member m		
		ON d.department_name = m.department_name	
		WHERE m.member_id = #{memberId}				
	</select>
	<!-- memberInsert -->
	<insert id="insertMember" parameterType="ksmart31.team01.member.domain.Member">
		insert into
			member
			(
			member_code
			,member_id
			,member_name
			,member_employee_code
			,department_name
			,department_category_name
			,department_division_name
			,department_section_name
			,member_position_name
			,member_level_title
			,member_status
			,member_join_day
			,member_pw			
			)
			
			SELECT CONCAT('member_code','_', (SELECT MAX(substring(member_code, 13)+1) FROM member))
			,#{memberId}
			,#{memberName}
			,#{memberEmployeeCode}
			,#{departmentName}
			,#{departmentCategoryName}
			,#{departmentDivisionName}
			,#{departmentSectionName}
			,#{memberPositionName}
			,#{memberLevelTitle}
			,#{memberStatus}
			,now()
			,#{memberPw}			
	</insert>
	
	<!-- selectDepartmentName 리스트 -->
	<resultMap type="ksmart31.team01.department.domain.Department" id="selectDepartmentName">
		<result column="department_name" property="departmentName"></result>
	</resultMap>
	<select id="selectDepartmentName" resultMap="selectDepartmentName">
		select
			department_name
		from department	
	</select>
	<!-- selectDepartmentCategoryName 리스트 -->
	<resultMap type="ksmart31.team01.department.domain.Department" id="selectDepartmentCategoryName">
		<result column="department_category_name" property="departmentCategoryName"></result>
	</resultMap>
	<select id="selectDepartmentCategoryName" resultMap="selectDepartmentCategoryName">
		select distinct
			department_category_name
		from department	
	</select>
	<!-- selectDepartmentDivisionName 리스트 -->
	<resultMap type="ksmart31.team01.department.domain.Department" id="selectDepartmentDivisionName">
		<result column="department_division_name" property="departmentDivisionName"></result>
	</resultMap>
	<select id="selectDepartmentDivisionName" resultMap="selectDepartmentDivisionName">
		select distinct
			department_division_name
		from department	
	</select>
	<!-- selectDepartmentSectionName 리스트 -->
	<resultMap type="ksmart31.team01.department.domain.Department" id="selectDepartmentSectionName">
		<result column="department_section_name" property="departmentSectionName"></result>
	</resultMap>
	<select id="selectDepartmentSectionName" resultMap="selectDepartmentSectionName">
		select distinct
			department_section_name
		from department	
	</select>
	<!-- memberPosition select -->
	<resultMap type="ksmart31.team01.member.domain.MemberPosition" id="selectMemberPositon">
		<result column="member_position_name" property="memberPositionName"></result>
	</resultMap>
	<select id="selectMemberPositon" resultMap="selectMemberPositon">
		select 
			member_position_name			
		from member_position
	</select>
	
	<!-- myProfile 개인정보 -->
	<resultMap type="ksmart31.team01.member.domain.Member" id="selectmemberMyProfile">	
				<!-- db컬럼 -->		<!-- domain 데이터변수명 -->
		<result column="member_phone" property="memberPhone"/>
		<result column="member_mobile" property="memberMobile"/>
		<result column="member_address" property="memberAddress"/>
		<result column="member_birth" property="memberBirth"/>
		<result column="member_gender" property="memberGender"/>
	</resultMap>
	<select id="selectmemberMyProfile" resultMap="selectmemberMyProfile">
		SELECT 
			member_phone,
			member_mobile,
			member_address,
			member_birth,
			member_gender
		FROM member
		WHERE
			member_id = #{memberId}
	</select>
		
	<!-- myProfile 개인정보 -->
	<resultMap type="ksmart31.team01.member.domain.Member" id="selectmemberMyInfo">	
				<!-- db컬럼 -->		<!-- domain 데이터변수명 -->
		<result column="member_id" property="memberId"/>
		<result column="department_category_name" property="departmentCategoryName"/>
		<result column="department_division_name" property="departmentDivisionName"/>
		<result column="department_section_name" property="departmentSectionName"/>
		<result column="member_position_name" property="memberPositionName"/>
		<result column="member_status" property="memberStatus"/>
		<result column="member_level_title" property="memberLevelTitle"/>
		<result column="member_form_of_employment" property="memberFormOfEmployment"/>
		<result column="member_employee_code" property="memberEmployeeCode"/>
		<result column="member_join_day" property="memberJoinDay"/>
	</resultMap>
	<select id="selectmemberMyInfo" resultMap="selectmemberMyInfo">
		SELECT 
			member_id,
			department_category_name,
			department_division_name,
			department_section_name,
			member_position_name,
			member_status,
			member_level_title,
			member_form_of_employment,
			member_employee_code,
			member_join_day
		FROM member
		WHERE
			member_id = #{memberId}
	</select>
	
	
</mapper>			
		