<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>Sample</title>
	<th:block th:include="layout/customHead"></th:block>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" />
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	
<script type="text/javascript">
$(function() {

	$("#date").datepicker(
			{

				dateFormat : "yy-mm-dd",

				dayNamesMin : [ "일", "월", "화", "수", "목", "금", "토" ],

				monthNames : [ "1월", "2월", "3월", "4월", "5월", "6월",
						"7월", "8월", "9월", "10월", "11월", "12월" ],

				onSelect : function(d) {

					alert(d + "선택되었습니다.");

					var arrDate = d.split("-");

					var year = arrDate[0];

					var month = arrDate[1];

					var day = arrDate[2];

					//숫자를 문자형으로 변환

					$("#year").text(year);

					$("#month").text(month);

					$("#day").text(day);
					
					$("#inputTest").val(year+"-"+month+"-"+day);
					

					//날짜 구하기          

					var date = new Date($("#date").datepicker({
						dateFormant : "yy-mm-dd"
					}).val());

					alert("date :" + date.getDay());

					//getDay 요일

					var week = new Array("일", "월", "화", "수", "목", "금", "토"); //요일 배열

					$("#mydate").text(week[date.getDay()]);

				}

			});

});
</script>
	
</th:block>


<th:block layout:fragment="customBody">
	
	<h2><a href="https://its-easy.tistory.com/12">[Jquery UI] Datepicker 간단 사용법(링크)</a></h2><hr><br>
	
	
	localhost/test2<br><br>
	
	<h1>JQuery 달력</h1>
	<h2>date Picker</h2>
	<p>
		선택일:<input type="text" id="date">
	</p>
	<p>
		text박스를 클릭하면, <strong>카렌더</strong>가 표시됩니다.
	</p>
	
	<div>
		<span id="year"></span> 년도
		<span id="month"></span> 월
		<span id="day"></span> 일
		<span id="mydate"></span> 요일
	</div>
	
	<input type="text" id="inputTest">
	
	
	
</th:block>
	
<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>

</th:block>
	
</html>
