<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>메인 페이지</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	
	<th:block layout:fragment="customBody">
		<h2>배포일자 : 2019-07-12</h2><br/>
		<div>각자 담당한 기능별 프로세스 흐름도/메뉴얼 작성 -> 메인 등록용</div>
		<div>프로세스 흐름도/기능 명세/DB테이블 스키마 변경 부분 작성해둘 것 -> 최종 보고서 때 취합(7/24)</div>
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>