<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<!-- jquery head 부분 넣는곳 -->
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>myProject</title>
		<th:block th:include="layout/customHead"></th:block>
				
		<meta http-equiv="Content-Type" content="text/html</td> charset=UTF-8" />
		<title>leaveCategoryList.html</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function(){
				
				$('#addMyAcatemyBtn').click(function(){
				console.log('추가 버튼 테스트 : '+$(this).attr('value'));
					
	
					
					$('#saveBtn').click(function(){
					console.log('저장 버튼 테스트 ');
					
					
					let memberAcademyName = $('#academyName').val(); //교육명
					let memberAcademyComplete = $('#academyComplete').val(); //이수현황 
					let memberAcademyInstitution = $('#academyInstitution').val(); //교육기관
					let memberAcademyCost = $('#academyCost').val(); //교육비
					let memberAcademyPlace = $('#academyPlace').val(); //교육장소
					let memberAcademyStartDay = $('#startYear').val() + '-' + $('#tartMonth').val() + '-' + $('#startDay').val(); //시작날
					let memberAcademyEndDay = $('#endYear').val() + '-' + $('#endMonth').val() + '-' + $('#endDay').val(); //종료날
					let memberAcademyPurpose = $('#academyPurpose').val(); //교육목적
					let memberAcademyDesc = $('#academyDesc').val(); //기타내용

					console.log('값출력 '+$('#academyName').val() + ' 변수값 확인 비교 : '+ memberAcademyName);
					console.log('값출력 '+$('#academyComplete').val() + ' 변수값 확인 비교 : '+ memberAcademyComplete);
					console.log('값출력 '+$('#academyInstitution').val() + ' 변수값 확인 비교 : '+ memberAcademyInstitution);
					console.log('값출력 '+$('#academyCost').val() + ' 변수값 확인 비교 : '+ memberAcademyCost);
					console.log('값출력 '+$('#academyPlace').val() + ' 변수값 확인 비교 : '+ memberAcademyPlace);
					console.log("교육기간 시작날짜 : " + memberAcademyStartDay);
					console.log("교육기간 종료날짜 : " + memberAcademyEndDay);
					console.log('값출력 '+$('#academyPurpose').val() + ' 변수값 확인 비교 : '+ memberAcademyPurpose);
					console.log('값출력 '+$('#academyDesc').val() + ' 변수값 확인 비교 : '+ memberAcademyDesc);
					
						$.ajax({
							url : '/member/memberMyProfile/addmyAcademy',
							type : 'get',
							data : {
								memberAcademyName:memberAcademyName,
								memberAcademyComplete:memberAcademyComplete,
								memberAcademyCost:memberAcademyCost,
								memberAcademyInstitution:memberAcademyInstitution,
								memberAcademyPlace:memberAcademyPlace,
								memberAcademyStartDay:memberAcademyStartDay,
								memberAcademyEndDay:memberAcademyEndDay,
								memberAcademyPurpose:memberAcademyPurpose,
								memberAcademyDesc:memberAcademyDesc
							},
							success : function(){
								console.log('성공')
								$('#closeBtn').trigger("click");  
								
							},
							error : function(error){
								console.log(error);
								//alert('실패 : '+error);
							}
						});
					
					
					});
					
					
				});
				
			});
		
		
		</script>
	</th:block>
	
	<!-- 본문 -->
	<th:block layout:fragment="customBody">
		<h2>나의 정보 - 나의 인사 정보</h2>
		<br/>
		
		<div class="row">
			<div class="col-2" style="padding-left:50px; border-right: 1px solid #ccc;">
				<div class="card">
					<div class="card-header">MyProfile</div>
					<div class="card-body">
						<div>
							<a href="/member/memberMyProfile/myProfile">개인 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myInfo">인사 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myCareer">경력 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myProject">프로젝트 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myEducation">학력 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myAcademy">교육 이력 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myLicense">자격증 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myAwards">수상 이력 정보</a>
						</div>
					
					</div>
				</div>
			</div>	

			
			<div class="col-10" style="padding-right:20px; border-right: 1px solid #ccc;">
				<div class="card">
					<div class="card-header">
						<div>나의 교육 이력 정보</div> 
						<!-- 팝업창 추가 버튼 -->
						<div class="col-md-3 icon-list-item">
							<i class="ik ik-plus-square"></i>
							<div class="name">plus-square</div>
							<div class="fontclass">.ik-plus-square</div>
							<button style="text-align:right" type="button" id=addMyAcatemyBtn class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#detailModal" >추가</button>
						</div>
					<div class="card-body" >
						<div  th:each="myAcatemy : ${myAcatemy}">	
							<div class="input-group">
								<!-- 교육 시작일자 -->
								<div th:text="|기간 - ${myAcatemy.memberAcademyStartDay}|"></div>
								<!-- 교육 종료일자 및 진행중 -->
								<div th:if="${myAcatemy.memberAcademyEndDay != null}" th:text="|&nbsp; ~ ${myAcatemy.memberAcademyEndDay}|"></div>
								<div th:unless="${myAcatemy.memberAcademyEndDay != null}">
									<div>&nbsp; ~ 진행중</div>
								</div>
							</div>
							<div th:text="|교육 과정명 : ${myAcatemy.memberAcademyName}|"></div>							
							<div th:if="${myAcatemy.memberAcademyComplete == 'Y'}">
								<div>교육 수료 상태 : 이수</div>
							</div>
							<!-- else 조건 -->
							<div th:unless="${myAcatemy.memberAcademyComplete == 'Y'}">
								<div class="input-group">
									<div>교육 수료 상태 : 미이수</div>
								</div>
							</div>
							
							
							<div th:text="|교육 기관 : ${myAcatemy.memberAcademyInstitution}|"></div>
							<div th:text="|교육 장소 : ${myAcatemy.memberAcademyPlace}|"></div>
							<div th:text="|교육 목적 : ${myAcatemy.memberAcademyPurpose}|"></div>
							<div th:text="|교육비 : ${myAcatemy.memberAcademyCost}원|"></div>
							<div th:text="|기타 내용 : ${myAcatemy.memberAcademyDesc}|"></div>
							
							<!-- if 조건 데이터가 공백이면 파일없음 -->
							<div th:if="${myAcatemy.memberFilesSaveName == ''}">
								<div>첨부파일 : 파일없음</div>
							</div>
							<!-- else 조건 -->
							<div th:unless="${myAcatemy.memberFilesSaveName == ''}">
								<div class="input-group">
									<div>첨부파일 : </div>
									<a href="#" th:text="|&nbsp; ${myAcatemy.memberFilesSaveName}|"></a>
								</div>
							</div>
							<div  align="right" style="height: 100px; padding:20px"><button>수정</button> <button>삭제</button></div>
							<hr>
						</div>	 

						<!-- 팝업 화면 출력  -->
						<div class="modal" id="detailModal">
							<div class="modal-dialog modal-dialog-scrollable modal-dialog modal-lg">
								<div class="modal-content">
									<!-- Modal Header -->
									<div class="modal-header">
										<h2 class="modal-title">교육 이력정보 입력</h2>
										<button type="button" class="close" data-dismiss="modal">×</button>
									</div>
									
									<!-- Modal body -->
									<div class="modal-body">
										<h3>교육 과정명</h3>
										<form class="academyForm">
											<div>
												<input type="text" id="academyName" class="form-control">
											</div>
											<hr>
											<h3>교육 수료 상태</h3>
											<select id="academyComplete" class="form-control">
													<option value="Y">수료
													<option value="N">미수료
											</select>
											<hr>
											<h3>교육 기간</h3>
											<div class="input-group">
												<input type="text" id="startYear" class="form-control col-sm-1"><h4>&nbsp;년&nbsp;</h4>
												<select id="tartMonth" class="form-control col-sm-1">
													<option value="01">1
													<option value="02">2
													<option value="03">3
													<option value="04">4
													<option value="05">5
													<option value="06">6
													<option value="07">7
													<option value="08">8
													<option value="09">9
													<option value="10">10
													<option value="11">11
													<option value="12">12
												</select> <h4>&nbsp;월&nbsp;</h4>
												<input type="text" id="startDay" class="form-control col-sm-1"><h4>&nbsp;일&nbsp;</h4>
												<h4>&nbsp;~&nbsp;</h4>
												<input type="text" id="endYear" class="form-control col-sm-1"><h4>&nbsp;년&nbsp;</h4>
												<select id="endMonth" class="form-control col-sm-1">
													<option value="01">1
													<option value="02">2
													<option value="03">3
													<option value="04">4
													<option value="05">5
													<option value="06">6
													<option value="07">7
													<option value="08">8
													<option value="09">9
													<option value="10">10
													<option value="11">11
													<option value="12">12
												</select> <h4>&nbsp;월&nbsp;</h4>
												<input type="text" id="endDay" class="form-control col-sm-1"><h4>&nbsp;일&nbsp;</h4>
											</div>
											<h3>교육 기관</h3>
											<div>
												<input type="text" id="academyInstitution" class="form-control">
											</div>
											<br>
											<h3>교육비</h3>
											<div>
												<input type="number" id="academyCost" class="form-control">
											</div>
											<br>
											<h3>교육 장소</h3>
											<div>
												<input type="text" id="academyPlace" class="form-control">
											</div>
											<br>
											<h3>교육 목적</h3>
											<div>
												<input type="text" id="academyPurpose" class="form-control">
											</div>
											<br>
											<h3>기타내용</h3>
											<div>
												<input type="text" id="academyDesc" class="form-control">
											</div>
											<br>
										</form>
									</div>	
									<!-- Modal footer -->
									<div class="modal-footer">
										<button id="saveBtn" type="button" class="btn btn-primary">저장</button>
										<button id="closeBtn" type="button" class="btn btn-light" data-dismiss="modal">취소</button>
									</div>
								</div>
							</div>
						</div>
				
                                
					</div>
				</div>
			</div>
		</div>

			
		
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
	
</html>
