<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<!-- jquery head 부분 넣는곳 -->
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>myProject</title>
		<th:block th:include="layout/customHead"></th:block>
				
		<meta http-equiv="Content-Type" content="text/html</td> charset=UTF-8" />
		<title>leaveCategoryList.html</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		
	</th:block>
	
	<!-- 본문 -->
	<th:block layout:fragment="customBody">
		<h2>나의 정보 - 나의 인사 정보</h2>
		<br/>
		
		<div class="row">
			<div class="col-2" style="padding-left:50px; border-right: 1px solid #ccc;">
				<div class="card">
					<div class="card-header">MyProfile</div>
					<div class="card-body">
						<div>
							<a href="/member/memberMyProfile/myProfile">개인 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myInfo">인사 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myCareer">경력 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myProject">프로젝트 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myEducation">학력 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myAcademy">교육 이력 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myLicense">자격증 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myAwards">수상 이력 정보</a>
						</div>
					
					</div>
				</div>
			</div>	

			
			<div class="col-10" style="padding-right:20px; border-right: 1px solid #ccc;">
				<div class="card">
					<div class="card-header">
						<div>나의 수상 이력 정보</div> 
						<div style="padding:10px; text-align:right"><button >추가</button></div>
					</div>
					<div class="card-body" >
						<div  th:each="myAwards : ${myAwards}">	
						
							<!-- 수상 이력 날짜 -->
							<div th:text="|수상일 : ${myAwards.memberAwardsDay}|"></div>
							<div th:text="|상훈 명 : ${myAwards.memberAwardsName}|"></div>
							<div th:text="|발급기관 : ${myAwards.memberAwardsInstitution}|"></div>	
							<div th:text="|설명 : ${myAwards.memberAwardsDesc}|"></div>
							
							<!-- if 조건 데이터가 공백이면 파일없음 -->
							<div th:if="${myAwards.memberFilesSaveName == ''}">
								<div>첨부파일 : 파일없음</div>
							</div>
							<!-- else 조건 -->
							<div th:unless="${myAwards.memberFilesSaveName == ''}">
								<div class="input-group">
									<div>첨부파일 : </div>
									<a href="#" th:text="|&nbsp; ${myAwards.memberFilesSaveName}|"></a>
								</div>
							</div>
							
							<div  align="right" style="height: 100px; padding:20px"><button>수정</button> <button>삭제</button></div>
								<hr>
						</div>	 
					</div>
				</div>
			</div>
		</div>

			
		
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
	
</html>
