<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<!-- jquery head 부분 넣는곳 -->
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>Sample</title>
		<th:block th:include="layout/customHead"></th:block>
				
		<meta http-equiv="Content-Type" content="text/html</td> charset=UTF-8" />
		<title>leaveCategoryList.html</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<style> /* 추가버튼 스타일 */
		    .icon-list-wrap .icon-list-item i {
		        float: left;
		        text-align: center;
		        border-radius: .1875rem;
		        margin-right: 1rem;
		        margin-bottom: 1.5rem;
		        font-size: 1.5rem;
		        -webkit-transition: all .2s ease-in-out;
		        -o-transition: all .2s ease-in-out;
		        -moz-transition: all .2s ease-in-out;
		        transition: all .2s ease-in-out;
		    }
		</style>
		
		<script>
			$(document).ready(function(){
				
				$('#addBtn').click(function(){
				console.log('추가 버튼 테스트 : '+$(this).attr('value'));
					
					for (var i = 1; i < 13; i++) { /* 시간 시작 월 선택 */  
						if(i <10) {
							$("#startMonth").append('<option value="0'+i+'">'+i+'</option>');
						} else {
							$("#startMonth").append('<option value="'+i+'">'+i+'</option>');
						}
					}
					
					for (var i = 1; i < 32; i++) { /* 기간 시작 일 선택 */
						if(i <10) {
							$("#startDay").append('<option value="0'+i+'">'+i+'</option>');
						} else {
							$("#startDay").append('<option value="'+i+'">'+i+'</option>');
						}
					}
					
					for (var i = 1; i < 13; i++) { /* 기간 종료 월 선택 */
						if(i <10) {
							$("#endMonth").append('<option value="0'+i+'">'+i+'</option>');
						} else {
							$("#endMonth").append('<option value="'+i+'">'+i+'</option>');
						}
					}
					
					for (var i = 1; i < 32; i++) { /* 기간 종료 일 선택 */
						if(i <10) {
							$("#endDay").append('<option value="0'+i+'">'+i+'</option>');
						} else {
							$("#endDay").append('<option value="'+i+'">'+i+'</option>');
						}
					}
				
					$('#saveBtn').click(function(){
					console.log('저장 버튼 테스트 ');

						let memberCareerCompany  = $('#memberCareerCompany').val(); // 회사명
						let memberPositionName  = $('#memberPositionName').val(); // 직위
						let memberCareerStartDay = $('#startYear').val() + '-' + $('#startMonth').val() + '-' + $('#startDay').val(); // 근무 기간
						let memberCareerEndDay = $('#endYear').val() + '-' + $('#endMonth').val() + '-' + $('#endDay').val(); // 근무 기간
						let memberCareerOutReason  = $('#memberCareerOutReason').val(); // 퇴사 사유
						
						console.log('값출력 '+$('#memberCareerCompany').val() + ' 변수값 확인 비교 : '+ memberCareerCompany);
						console.log('값출력 '+$('#memberPositionName').val() + ' 변수값 확인 비교 : '+ memberPositionName);
						console.log("시작날짜 : " + memberCareerStartDay);
						console.log("종료날짜 : " + memberCareerEndDay);
						console.log('값출력 '+$('#memberCareerOutReason').val() + ' 변수값 확인 비교 : '+ memberCareerOutReason);
						
						$.ajax({
							url : '',
							type : 'get',
							data : {
								memberCareerCompany:memberCareerCompany,
								memberPositionName:memberPositionName,
								memberCareerStartDay:memberCareerStartDay,
								memberCareerEndDay:memberCareerEndDay,
								memberCareerOutReason:memberCareerOutReason
								
							},
							success : function(){
								console.log('성공')
						/* 	$('#closeBtn').trigger("click"); 닫기버튼클릭  */
								location.reload();  // 새로고침
							},
							error : function(error){
								console.log(error);
								//alert('실패 : '+error);
							}
						});
					
					
					});
					
					
				});
				
			});
		
		
		</script>
		
	</th:block>
	
	<!-- 본문 -->
	<th:block layout:fragment="customBody">
		<h2>나의 정보 - 나의 인사 정보</h2>
		<br/>
		
		<div class="row">
			<div class="col-2" style="padding-left:50px; border-right: 1px solid #ccc;">
				<div class="card">
					<div class="card-header">MyProfile</div>
					<div class="card-body">
						<div>
							<a href="/member/memberMyProfile/myProfile">개인 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myInfo">인사 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myEducation">학력 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myProject">프로젝트 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myLicense">자격증 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myAcademy">교육 이력 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myCareer">경력 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myAwards">수상 이력 정보</a>
						</div>
					</div>
				</div>
			</div>	
				

			
			<div class="col-10" style="padding-right:20px; border-right: 1px solid #ccc;">
				<div class="card">
					<div class="card-header justify-content-between" style="padding: 10px;">
					    <div style="padding: 0px 0px 0px 10px">나의 경력 정보</div>
					    <!-- 팝업창 추가 버튼 -->
					    <div class="icon-list-wrap">
					        <div class="icon-list-item">
					            <a id="addBtn" data-toggle="modal" data-target="#detailModal" class="btn pull-right" href="#" style="padding: 0;" >
					                <i class="ik ik-plus-square"></i>
					            </a>
					        </div>
					    </div>
					</div>
					<div class="card-body" >
						<div  th:each="myCareer : ${myCareer}">
							
							<div th:text="|기간 - ${myCareer.memberCareerStartDay} ~ ${myCareer.memberCareerEndDay}|"></div>
							<div th:text="|회사명 - ${myCareer.memberCareerCompany}|"></div>
							<div th:text="|직급 - ${myCareer.memberPositionName}|"></div>
							<div th:text="|퇴사사유 - ${myCareer.memberCareerOutReason}|"></div>
							<div  align="right" style="height: 100px; padding:20px"><button>수정</button> <button>삭제</button></div>
							<hr>
						</div>	
						
						<!-- 팝업 화면 출력  -->
						<div class="modal" id="detailModal">
							<div class="modal-dialog modal-dialog-scrollable modal-dialog modal-lg">
								<div class="modal-content">
								
									<!-- Modal Header -->
									<div class="modal-header">
										<h2 class="modal-title">경력 정보 입력</h2>
										<button type="button" class="close" data-dismiss="modal">×</button>
									</div>
									
									<!-- Modal body -->
									<div class="modal-body">
										<form class="BodyForm">
											
											<!-- 상훈명 카드영역 시작 -->
											<div class="card">
												<div class="card-header"><h3>회사명</h3></div>
												<div class="card-body">
													<div><input type="text" id="memberCareerCompany" class="form-control"></div>
												</div>
											</div> <!-- 상훈명 카드영역 끝 -->
											
											<!-- 발급 기관 카드영역 시작 -->
											<div class="card">
												<div class="card-header"><h3>직위</h3></div>
												<div class="card-body">
													<div><input type="text" id="memberPositionName" class="form-control"></div>
												</div>
											</div> <!-- 발급 기관 카드영역 끝 -->
											
											<div class="card">
												<div class="card-header"><h3>근무 기간</h3></div>
												<div class="card-body">
													<div class="input-group">

														<input type="text" id="startYear" class="form-control col-sm-1">
														<div style="padding: 8px 10px 10px 10px" th:text="년 "></div>
														
														<select id="startMonth" class="form-control col-sm-1">
															<!-- 스크립트 반복문으로 뿌려준다 01~12까지 뿌려준다 -->
														</select><div style="padding: 8px 10px 10px 10px" th:text="월 "></div>
														
														<select id="startDay" class="form-control col-sm-1">
															<!-- 스크립트 반복문으로 뿌려준다 01~31까지 뿌려준다 -->
														</select><div style="padding: 8px 10px 10px 10px" th:text="일 "></div>
														
														<h4>&nbsp;~&nbsp;</h4>
														
														<input type="text" id="endYear" class="form-control col-sm-1"> <div style="padding: 8px 10px 10px 10px" th:text="년 "></div>
														
														<select id="endMonth" class="form-control col-sm-1">
															<!-- 스크립트 반복문으로 뿌려준다 01~12까지 뿌려준다 -->
														</select> <div style="padding: 8px 10px 10px 10px" th:text="월 "></div>
														
														<select id="endDay" class="form-control col-sm-1">
															<!-- 스크립트 반복문으로 뿌려준다 01~31까지 뿌려준다 -->
														</select> <div style="padding: 8px 10px 10px 10px" th:text="일 "></div>
											
													</div>
												</div>
											</div>			
											
											<!-- 설명 시작 -->
											<div class="card">
												<div class="card-header"><h3>퇴사 사유</h3></div>
												<div class="card-body">
																									<!-- rows높이/cols넓이 -->
													<textarea id="memberCareerOutReason" class="form-control" rows="4" cols="">
													</textarea>
												</div>
											</div> <!-- 설명 끝 -->

										</form>
									</div>	
									
									
									<!-- Modal footer -->
									<div class="modal-footer"> 
										<form id="FooterForm">
											<div class="input-group" style="margin: 0px 0px 0px 10px; padding: 0px 0px 0px 0px">
												<button id="saveBtn" type="button" class="btn btn-primary">저장</button>
												&nbsp;
												<button id="closeBtn" type="button" class="btn btn-light" data-dismiss="modal">취소</button> 
												<div id="memberFileInfo" hidden="hidden" th:value="경력정보"></div> <!-- 파일테이블에서 사용할 뷰쪽 타이틀정보 -->
											</div>
										</form>
									</div>	
									
								</div>
							</div>
						</div> <!-- 팝업창끝 -->
						
					</div>
				</div>
			</div>
		</div>

			
		
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
	
</html>
