<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<!-- jquery head 부분 넣는곳 -->
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>Sample</title>
		<th:block th:include="layout/customHead"></th:block>
				
		<meta http-equiv="Content-Type" content="text/html</td> charset=UTF-8" />
		<title>leaveCategoryList.html</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	</th:block>
	
	<!-- 본문 -->
	<th:block layout:fragment="customBody">
		<div class="page-header">
			<div class="page-header row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="ik ik-layers bg-blue"></i>
						<div class="d-inline">
							<!-- 증명서 발급 - 증명서 신청 -->
							<h5>나의 정보 - 나의 인사 정보</h5>
							<span>자신의 개인정보를 볼 수 있습니다.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br/>
		
		<div class="row">
			<!-- 왼쪽 카드 영역 시작 -->
			<div class="col-3">
				<div class="card" style="height: 100%">
					<!-- 왼쪽 카드 제목 -->
					<div class="card-header">MyProfile</div>
					<!-- 왼쪽 카드 내용 -->
					<div class="card-body">
						<ul class="nav flex-column">
							<li>
								<a class="nav-link departmentNameButton text-info" href="/member/memberMyProfile/myProfile">개인 정보</a>
							</li>
							<li>
								<a class="nav-link departmentNameButton text-info" href="/member/memberMyProfile/myInfo">인사 정보</a>
							</li>
							<li>
								<a class="nav-link departmentNameButton text-info" href="/member/memberMyProfile/myEducation">학력 정보</a>
							</li>
							<li>
								<a class="nav-link departmentNameButton text-info" href="/member/memberMyProfile/myProject">프로젝트 정보</a>
							</li>
							<li>
								<a class="nav-link departmentNameButton text-info" href="/member/memberMyProfile/myLicense">자격증 정보</a>
							</li>
							<li>
								<a class="nav-link departmentNameButton text-info" href="/member/memberMyProfile/myAcademy">교육 이력 정보</a>
							</li>
							<li>
								<a class="nav-link departmentNameButton text-info" href="/member/memberMyProfile/myCareer">경력 정보</a>
							</li>
							<li>
								<a class="nav-link departmentNameButton text-info" href="/member/memberMyProfile/myAwards">수상 이력 정보</a>
							</li>	
						</ul>
					</div>
				</div>
			</div>
			<!-- 왼쪽 카드 영역 종료 -->	
				

			
			
			<div class="col-9" style="padding-right:20px; border-right: 1px solid #ccc;">
				<div class="card">
					<div class="card-header">나의 인사 정보</div>
					<div class="card-body" >
						
						<div>이메일</div>
						<div th:text="${memberInfo.memberId}"></div>										
						<hr>
						
						<div>소속 부서</div>
							<div class="input-group">
								<div th:text="${memberInfo.departmentCategoryName}"></div>
								<div th:if="${memberInfo.departmentDivisionName != ''}" th:text="|&nbsp; > ${memberInfo.departmentDivisionName}|"></div>
								<div th:if="${memberInfo.departmentSectionName != ''}" th:text="|&nbsp; > ${memberInfo.departmentSectionName}|"></div>
							</div>
						<hr>
						
						<div>직위/직책</div>
							<div th:text="${memberInfo.memberPositionName}"></div>
						<hr>
						
						<div>조직원 상태</div>
							<div th:text="${memberInfo.memberStatus}"></div>
						<hr>
						
						<div>권한</div>
							<div th:text="${memberInfo.memberLevelTitle}"></div>
						<hr>
						
						<div>사번</div>
							<div th:text="${memberInfo.memberEmployeeCode}"></div>
						<hr>
						
						<div>입사일</div>
							<div th:text="${memberInfo.memberJoinDay}"></div>
					</div>
				</div>
			</div>
		</div>

			
		
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
	
</html>
