<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">

<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>DocumentHistoryForm</title>
	<th:block th:include="layout/customHead"></th:block>
	<script>
		function checkAll() {
			if ($("#checkAll").is(':checked')) {
				$("input[type=checkbox]").prop("checked", true);
			} else {
				$("input[type=checkbox]").prop("checked", false);
			}
		};
	</script>
</th:block>

<th:block layout:fragment="customBody">
	<h2>나의 문서함</h2>
	<br />
	<div class="col-md-12">
		<div class="card table-card">
			<div class="card-header">
				<h3>
					<span th:text="${documentBoxName}"></span>
				</h3>
				<div class="card-header-right"></div>
			</div>
			<div class="card-block">
				<div class="table-responsive">
					<table class="table table-hover mb-0">
						<thead>
							<tr>
								<th>진행상태</th>
								<th>문서명</th>
								<th><i class="ik ik-paperclip"></i><i
									class="ik ik-message-square"></i></th>
								<!-- 첨부파일&댓글 -->
								<th>기안자</th>
								<th>기안일</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="list : ${draftDocumentList}">
								<td>
								<div th:switch="${list.draftDocumentStatus}">
								<label th:case="'결재중'" class="badge badge-primary">
								<span th:text="${list.draftDocumentStatus}"></span></label>
								<label th:case="'승인'" class="badge badge-success">
								<span th:text="${list.draftDocumentStatus}"></span></label>
								<label th:case="'반려'" class="badge badge-danger">
								<span th:text="${list.draftDocumentStatus}"></span></label>
								<label th:case="'임시저장'" class="badge badge-secondary">
								<span th:text="${list.draftDocumentStatus}"></span></label>		
								</div>					
								</td>
								<td><span th:text="${list.draftDocumentFileSaveName}"></span></td>
								<td><i class="ik ik-paperclip"><span
										th:text="${list.documentAttatchFileCount}"></span></i><i
									class="ik ik-message-square"><span
										th:text="${list.documentOpinionCount}"></span></i></td>
								<td><span th:text="${list.draftDocumentMemberName}"></span></td>
								<td><span th:text="${list.draftDocumentDate}"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>

</html>
