<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">

<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>Sample</title>
	<th:block th:include="layout/customHead"></th:block>	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">	
	<style>
    .icon-list-wrap .icon-list-item i {
        float: left;
        text-align: center;
        border-radius: .1875rem;
        margin-right: 1rem;
        margin-bottom: 1.5rem;
        font-size: 1.5rem; /* 글자크기 */
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;    
	</style>
		
	<script>
		let memberId;
		$(document).ready(function(){			
			
			$('.departmentJoinMemberByMemberIdButton').click(function(){
				console.log('상세 정보 버튼 value : '+$(this).attr('value'));				
				memberId = $(this).attr('value');
				console.log("memberId 확인");
				$('#personnel').trigger('click');
			});
			
			$('.profile').click(function(){				
				console.log('카테고리 클릭 테스트');
				console.log('선택한 조직원 아이디 : '+memberId);
				let category = $(this).attr('id');
				console.log($(this).attr('id'));
				
				if(category == 'categoryPersonnel'){
 					console.log('개인 정보 클릭 확인');
 					$('#personnel').attr('hidden', false);
 					$('#info').attr('hidden', true);
 					$('#education').attr('hidden',true);
 					$('#project').attr('hidden',true);
 					$('#license').attr('hidden',true);
 					$('#academy').attr('hidden',true);
 					$('#career').attr('hidden',true);
 					$('#awards').attr('hidden',true);
 					
 					// 비동기 요청
 					$.ajax({
 						url : '/getMemberMyProfile'
 						,type : 'get'
 						,data : {
 							memberId : memberId
 						}
 						,success : function(data){
 							console.log(data); 							
 							$('#memberPhone').text(data.memberPhone);
 							$('#memberMobile').text(data.memberMobile);
 							$('#memberAddress').text(data.memberAddress);
 							$('#memberBirth').text(data.memberBirth);
 							$('#memberGender').val(data.memberGender).prop('selected');
 						}                 
 					});
 					
				}else if(category == 'categoryInfo'){
					console.log('인사 정보 클릭 확인');
					$('#personnel').attr('hidden', true);
 					$('#info').attr('hidden', false);
 					$('#education').attr('hidden',true);
 					$('#project').attr('hidden',true);
 					$('#license').attr('hidden',true);
 					$('#academy').attr('hidden',true);
 					$('#career').attr('hidden',true);
 					$('#awards').attr('hidden',true);
					
					//비동기 요청
					$.ajax({
 						url : '/getMemberMyInfo'
 						,type : 'get'
 						,data : {
 							memberId : memberId
 						}
 						,success : function(data){
 							console.log(data);
 							$('#infoMemberId').text(data.memberId);
 							$('#infoDepartmentCategoryName').text(data.departmentCategoryName);
 							if(data.departmentDivisionName != "") {
 								$('#infoDepartmentDivisionName').text(" > "+data.departmentDivisionName);
 							}
 							if(data.departmentSectionName != "") {
 							$('#infoDepartmentSectionName').text(" > "+data.departmentSectionName);
 							}
 							$('#infoMemberPositionName').text(data.memberPositionName);
 							$('#infoMemberStatus').text(data.memberStatus);
 							$('#infoMemberLevelTitle').text(data.memberLevelTitle);
 							$('#infoMemberEmployeeCode').text(data.memberEmployeeCode);
 							$('#infoMemberJoinDay').text(data.memberJoinDay);
 							
 						}                 
 					});
				}else if(category == 'categoryEducation'){
					console.log('학력 정보 클릭 확인');
					$('#personnel').attr('hidden', true);
 					$('#info').attr('hidden', true);
 					$('#education').attr('hidden',false);
 					$('#project').attr('hidden',true);
 					$('#license').attr('hidden',true);
 					$('#academy').attr('hidden',true);
 					$('#career').attr('hidden',true);
 					$('#awards').attr('hidden',true);
					
					//비동기 요청
					$.ajax({
 						url : '/getMemberMyEducation'
 						,type : 'get'
 						,data : {
 							memberId : memberId
 						}
 						,success : function(data){
 							$('#memberEducation').empty();
 							console.log(data);
 							$(data).each(function(index,item){							
 							$('#memberEducation').append('<div>'+item.memberEducationStartDay+'</div>');
							$('#memberEducation').append('<div>'+item.memberEducationEndDay+'</div>');
							$('#memberEducation').append('<div>'+item.memberEducationInstitution+'</div>');
							$('#memberEducation').append('<div>'+item.memberEducationNow+'</div>');
							$('#memberEducation').append('<div>'+item.memberEducationDegree+'</div>');
							$('#memberEducation').append('<div>'+item.memberEducationMajor+'</div>');
							$('#memberEducation').append('<hr>');	 										
 							});
 						}                 
 					});								
				}else if(category == 'categoryProject'){
					console.log('프로젝트정보 클릭 확인');
					$('#personnel').attr('hidden', true);
 					$('#info').attr('hidden', true);
 					$('#education').attr('hidden',true);
 					$('#project').attr('hidden',false);
 					$('#license').attr('hidden',true);
 					$('#academy').attr('hidden',true);
 					$('#career').attr('hidden',true);
 					$('#awards').attr('hidden',true);
					
					//비동기 요청
					$.ajax({
 						url : '/getMemberMyProject'
 						,type : 'get'
 						,data : {
 							memberId : memberId
 						}
 						,success : function(data){
 							$('#memberProject').empty();
 							console.log(data);
 							$(data).each(function(index,item){							
 							$('#memberProject').append('<div>'+item.memberProjectStartDay+'</div>');
							$('#memberProject').append('<div>'+item.memberProjectEndDay+'</div>');
							$('#memberProject').append('<div>'+item.memberProjectName+'</div>');
							$('#memberProject').append('<div>'+item.memberProjectPlace+'</div>');
							$('#memberProject').append('<div>'+item.memberProjectDesc+'</div>');
							$('#memberProject').append('<div>'+item.memberProjectUrl+'</div>');
							$('#memberProject').append('<hr>');	 										
 							});
 						}                 
 					});
				}else if(category == 'categoryLicense'){
					console.log('자격증정보 클릭 확인');
					$('#personnel').attr('hidden', true);
 					$('#info').attr('hidden', true);
 					$('#education').attr('hidden',true);
 					$('#project').attr('hidden',true);
 					$('#license').attr('hidden',false);
 					$('#academy').attr('hidden',true);
 					$('#career').attr('hidden',true);
 					$('#awards').attr('hidden',true);
					
					//비동기 요청
					$.ajax({
 						url : '/getMemberMyLicense'
 						,type : 'get'
 						,data : {
 							memberId : memberId
 						}
 						,success : function(data){
 							$('#memberLicense').empty();
 							console.log(data);
 							$(data).each(function(index,item){								
 							$('#memberLicense').append('<div>'+item.memberLicenseStartDay+'</div>');
							$('#memberLicense').append('<div>'+item.memberLicenseEndDay+'</div>');
							$('#memberLicense').append('<div>'+item.memberLicenseName+'</div>');
							$('#memberLicense').append('<div>'+item.memberLicenseNumber+'</div>');
							$('#memberLicense').append('<div>'+item.memberLicenseUrl+'</div>');
							$('#memberLicense').append('<div>'+item.memberLicenseAuthentication+'</div>');
							$('#memberLicense').append('<hr>');	 										
 							});
 						}                 
 					});
				}else if(category == 'categoryAcademy'){
					console.log('교육이력정보 클릭 확인');
					$('#personnel').attr('hidden', true);
 					$('#info').attr('hidden', true);
 					$('#education').attr('hidden',true);
 					$('#project').attr('hidden',true);
 					$('#license').attr('hidden',true);
 					$('#academy').attr('hidden',false);
 					$('#career').attr('hidden',true);
 					$('#awards').attr('hidden',true);
					
					//비동기 요청
					$.ajax({
 						url : '/getMemberMyAcademy'
 						,type : 'get'
 						,data : {
 							memberId : memberId
 						}
 						,success : function(data){
 							$('#memberAcademy').empty();
 							console.log(data);
 							$(data).each(function(index,item){							
 							$('#memberAcademy').append('<div>'+item.memberAcademyStartDay+'</div>');
							$('#memberAcademy').append('<div>'+item.memberAcademyEndDay+'</div>');
							$('#memberAcademy').append('<div>'+item.memberAcademyName+'</div>');
							$('#memberAcademy').append('<div>'+item.memberAcademyComplete+'</div>');
							$('#memberAcademy').append('<div>'+item.memberAcademyInstitution+'</div>');
							$('#memberAcademy').append('<div>'+item.memberAcademyPlace+'</div>');
							$('#memberAcademy').append('<div>'+item.memberAcademyPurpose+'</div>');
							$('#memberAcademy').append('<div>'+item.memberAcademyCost+'</div>');
							$('#memberAcademy').append('<div>'+item.memberAcademyDesc+'</div>');
							$('#memberAcademy').append('<hr>');
 							});
 						}                 
 					});
				}else if(category == 'categoryCareer'){
					console.log('경력정보 클릭 확인');
					$('#personnel').attr('hidden', true);
 					$('#info').attr('hidden', true);
 					$('#education').attr('hidden',true);
 					$('#project').attr('hidden',true);
 					$('#license').attr('hidden',true);
 					$('#academy').attr('hidden',true);
 					$('#career').attr('hidden',false);
 					$('#awards').attr('hidden',true);
					
					//비동기 요청
					$.ajax({
 						url : '/getMemberMyCareer'
 						,type : 'get'
 						,data : {
 							memberId : memberId
 						}
 						,success : function(data){
 							$('#memberCareer').empty();
 							console.log(data);
 							$(data).each(function(index,item){								
 							$('#memberCareer').append('<div>'+item.memberCareerStartDay+'</div>');
							$('#memberCareer').append('<div>'+item.memberCareerEndDay+'</div>');
							$('#memberCareer').append('<div>'+item.memberCareerCompany+'</div>');
							$('#memberCareer').append('<div>'+item.memberPositionName+'</div>');
							$('#memberCareer').append('<div>'+item.memberCareerOutReason+'</div>');
							$('#memberCareer').append('<hr>');
 							});
 						}                 
 					});					
				}else if(category == 'categoryAwards'){
					console.log('수상이력정보 클릭 확인');
					$('#personnel').attr('hidden', true);
 					$('#info').attr('hidden', true);
 					$('#education').attr('hidden',true);
 					$('#project').attr('hidden',true);
 					$('#license').attr('hidden',true);
 					$('#academy').attr('hidden',true);
 					$('#career').attr('hidden',true);
 					$('#awards').attr('hidden',false);
					
					//비동기 요청
					$.ajax({
 						url : '/getMemberMyAwards'
 						,type : 'get'
 						,data : {
 							memberId : memberId
 						}
 						,success : function(data){
 							$('#memberAwards').empty();
 							console.log(data);
 							$(data).each(function(index,item){							
 							$('#memberAwards').append('<div>'+item.memberAwardsDay+'</div>');
							$('#memberAwards').append('<div>'+item.memberAwardsName+'</div>');
							$('#memberAwards').append('<div>'+item.memberAwardsInstitution+'</div>');
							$('#memberAwards').append('<div>'+item.memberAwardsDesc+'</div>');	
							$('#memberAwards').append('<hr>');
 							});
 						}                 
 					});	
				}
			});
		
			//getMemberPosition 리스트
			$.ajax({
				url : '/getMemberPositon'
				,type : 'get'
				,success : function(data){
					console.log(data);					
					$(data).each(function(index,item){
						$('#memberPositionName').append('<option value="'+item.memberPositionName+'">'+item.memberPositionName+'</option>');
					});
				}                 
			});
			
			//getDepartmentCategoryName 리스트
			$.ajax({
				url : '/getDepartmentCategoryName'
				,type : 'get'
				,success : function(data){
					console.log(data);					
					$(data).each(function(index,item){
						$('#departmentCategoryName').append('<option value="'+item.departmentCategoryName+'">'+item.departmentCategoryName+'</option>');
					});
				}                 
			});
			
			//getDepartmentDivisionName 리스트
			$.ajax({
				url : '/getDepartmentDivisionName'
				,type : 'get'
				,success : function(data){
					console.log(data);					
					$(data).each(function(index,item){
						$('#departmentDivisionName').append('<option value="'+item.departmentDivisionName+'">'+item.departmentDivisionName+'</option>');
					});
				}                 
			});
			
			//getDepartmentSectionName 리스트
			$.ajax({
				url : '/getDepartmentSectionName'
				,type : 'get'
				,success : function(data){
					console.log(data);					
					$(data).each(function(index,item){
						$('#departmentSectionName').append('<option value="'+item.departmentSectionName+'">'+item.departmentSectionName+'</option>');
					});
				}                 
			});
			
			//departmentName 리스트
			$.ajax({
				url : '/getDepartmentName'
				,type : 'get'
				,success : function(data){
					console.log(data);					
					$(data).each(function(index,item){
						$('#departmentName').append('<option value="'+item.departmentName+'">'+item.departmentName+'</option>');
					});
				}                 
			});
		
			
			// 조직도 부서명 클릭
			$('.departmentNameButton').click(function(){
				console.log('조직도 버튼 테스트 value : '+$(this).attr('value'));
				// departmentName 별로 부서명을 조회하기 위해 이름 값을 담는 변수  
				let departmentName = $(this).attr('value');
				console.log('departmentName 확인');	
				location.href='/department/departmentAdminView?departmentName='+$(this).attr('value');
			});			
			
			//확인
			$('.check').click(function(){
				console.log('check 확인');
				location.reload();  // 새로고침
			});
			
			
			// member 추가
			$('#saveButton').click(function(){				
				console.log('조직원 insert 입력 ');
												
				let memberId = $('#memberId').val(); 
				let memberName = $('#memberName').val();  
				let memberEmployeeCode = $('#memberEmployeeCode').val(); 
				let departmentName = $('#departmentName').val(); 
				let departmentCategoryName = $('#departmentCategoryName').val();
				let departmentDivisionName = $('#departmentDivisionName').val();
				let departmentSectionName = $('#departmentSectionName').val();
				let memberPositionName = $('#memberPositionName').val();
				let memberLevelTitle = $('#memberLevelTitle').val();
				let memberStatus = $('#memberStatus').val();
				let memberPw = $('#memberPw').val();
				
				console.log("memberId = " + memberId);
				console.log("memberName = " + memberName);
				console.log("memberEmployeeCode = " + memberEmployeeCode);
				console.log("departmentName = " + departmentName);
				console.log("departmentCategoryName = " + departmentCategoryName);
				console.log("departmentDivisionName = " + departmentDivisionName);
				console.log("departmentSectionName = " + departmentSectionName);
				console.log("memberPositionName = " + memberPositionName);
				console.log("memberLevelTitle = " + memberLevelTitle);
				console.log("memberStatus = " + memberStatus);
				console.log("memberPw = " + memberPw);	
								
				$.ajax({
						url : '/addMember',
						type : 'post',
						data : {
							memberId:memberId
							,memberName:memberName
							,memberEmployeeCode:memberEmployeeCode
							,departmentName:departmentName
							,departmentCategoryName:departmentCategoryName
							,departmentDivisionName:departmentDivisionName
							,departmentSectionName:departmentSectionName
							,memberPositionName:memberPositionName
							,memberLevelTitle:memberLevelTitle
							,memberStatus:memberStatus
							,memberPw:memberPw
							},							
							success : function(){
								console.log('성공')					
								location.reload();  // 새로고침
							}							
				});
			});			
		});
	</script>
	
</th:block>

<th:block layout:fragment="customBody">
<div class="row">
	<div class="col-3">
		<div class="card" style="min-height: 100%;">
			<!-- 왼쪽 카드 제목 -->
			<div class="card-header justify-content-between" style="padding: 10px;">
				<div>조직도</div>						
				<div class="icon-list-wrap">
					<div class="icon-list-item">													
						<!-- 부서명 추가 -->
						<a class="btn pull-right" href="#" style="width: 30px; padding: 0;">
							<i class="ik ik-plus-square"></i>
						</a>																		
						<!-- 전체 조직원 리스트 -->
						<a class="departmentNameButton btn pull-right" href="#" th:value="fullView" style="width: 30px; padding: 0;">
							<i class="ik ik-clipboard"></i>
						</a>
					</div>
				</div>						
			</div>
			
			<!-- 왼쪽 카드 내용 -->
			<div class="card-body">
				<div class="row layout-wrap" id="layout-wrap">
					<div class="col-12 list-item" th:each="recursiveList: ${recursiveList}">
				        <div class="d-flex flex-grow-1 min-width-zero text-black-50">
			                <!-- 부서명 리스트 -->
			                <a href="#" class="col-8 departmentNameButton" th:text="${recursiveList.departmentName}" th:value="${recursiveList.departmentName}"></a>
				            <div class="list-actions col-5" >
				                <a href="layout-edit-item.html"><i class="ik ik-edit-2"></i></a>
				                <a href="#" class="list-delete"><i class="ik ik-trash-2"></i></a>
				            </div>
				        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 오른쪽 위 헤드 -->
	<div class="col-9">		
		<div class="card" >
			<div class="card-header justify-content-between" style="padding: 10px;">				
				<div>    						                                           
									
								
				</div>
				<div class="icon-list-wrap">
					<div class="icon-list-item">																							
						<!-- 조직원 추가 modal-->
						<a class="memberAddButton btn pull-right" href="#" data-toggle="modal" data-target="#memberInsertModal" style="width: 30px; padding: 0;">
							<i class="ik ik-plus-square"></i>
						</a>
					</div>
				</div>					
			</div>
		</div>
		<!-- 오른쪽 밑 -->		
		<div class="card" style="min-height: 650px;">
			<div class="card-header">
				<h3>조직도 상세보기</h3>
			</div>
			<div class="card-body">									
				<div class="container">						  
					<div class="card">							
						<span class="card-body" th:each="departmentJoinMemberList:${departmentJoinMemberList}">
							<!-- 클릭시 각 조직원 인사 정보로 넘어간다(예정) -->
							<a class="departmentJoinMemberByMemberIdButton" href="#" th:value="${departmentJoinMemberList.memberId}"><span th:text="${departmentJoinMemberList.memberName}" data-toggle="modal" data-target="#personnelModal"></span></a>								
							<span th:text="${departmentJoinMemberList.memberName}"></span>
							<span th:text="${departmentJoinMemberList.memberLevelTitle}"></span> 
							<br>
							<span th:text="${departmentJoinMemberList.departmentCategoryName}"></span>
							<span th:text="${departmentJoinMemberList.departmentDivisionName}"></span>
							<span th:text="${departmentJoinMemberList.departmentSectionName}"></span>
							<br>
							<span th:text="${departmentJoinMemberList.memberPositionName}"></span>
							<span th:text="${departmentJoinMemberList.memberId}"></span>
							<br>
							<span th:text="${departmentJoinMemberList.memberPhone}"></span>
							<span th:text="${departmentJoinMemberList.memberMobile}"></span>
							<br>
							<span th:text="${departmentJoinMemberList.memberJoinDay}"></span>
							<span th:text="${departmentJoinMemberList.memberAddress}"></span>
							<hr>
						</span>																				
					</div>
				</div>					
			</div>
		</div>
	</div>
	<div class="modal" id="memberInsertModal">
		 <div class="modal-dialog mt-0 mb-0" role="document">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h2 class="modal-title">조직원 추가</h2>
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body">							
					<form class="leavePolicyForm">
					<!-- 첫 번째 카드 영역 시작 -  -->
					<div class="card">								
						<div class="card-body">														
							조직원 아이디 :  <div><input type="text" id="memberId" class="form-control"></div>
							조직원 이름 :  <div><input type="text" id="memberName" class="form-control"></div>
							조직원 사번 :  <div><input type="text" id="memberEmployeeCode" class="form-control"></div>																			
							부서명 :  <div><select id="departmentName" class="form-control"></select></div>							
							 :  <div><select id="departmentCategoryName" class="form-control"></select></div>
							 :  <div><select id="departmentDivisionName" class="form-control"></select></div>
							 :  <div><select id="departmentSectionName" class="form-control"></select></div>							
							직위/직책 :  <div><select id="memberPositionName" class="form-control"></select></div>
							조직원 권한 :  <div><input type="text" id="memberLevelTitle" class="form-control" placeholder="일반조직원"></div>
							조직원 상태 :  <div><input type="text" id="memberStatus" class="form-control" placeholder="재직"></div>
							조직원 비밀번호 :  <div><input type="text" id="memberPw" class="form-control"></div>															
						</div>
					</div>							
					</form>								
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button id="saveButton" type="button" class="btn btn-primary">확인</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
				</div>	
			</div>
		</div>
	</div>
	<div class="modal" id="personnelModal">
		 <div class="modal-dialog modal-lg mt-0 mb-0" role="document" style="max-width: 100%; width: auto; display: table;">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h2 class="modal-title">조직원 정보 편집</h2>
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body">							
					<div class="input-group">
						<!-- 왼쪽 카드 시작 -->
						<div class="col-2">
							<div class="card">								
								<div class="card-header">MyProfile</div>
								<div class="card-body">
									<div>
										<a href="#" class="profile" id="categoryPersonnel">개인 정보</a>
									</div>
									<hr>
									<div>
										<a href="#" class="profile" id="categoryInfo">인사 정보</a>
									</div>
									<hr>
									<div>
										<a href="#" class="profile" id="categoryEducation">학력 정보</a>
									</div>
									<hr>
									<div>
										<a href="#" class="profile" id="categoryProject">프로젝트 정보</a>
									</div>
									<hr>
									<div>
										<a href="#" class="profile" id="categoryLicense">자격증 정보</a>
									</div>
									<hr>
									<div>
										<a href="#" class="profile" id="categoryAcademy">교육 이력 정보</a>
									</div>
									<hr>
									<div>
										<a href="#" class="profile" id="categoryCareer">경력 정보</a>
									</div>
									<hr>
									<div>
										<a href="#" class="profile" id="categoryAwards">수상 이력 정보</a>
									</div>
								</div>
							</div>
						</div>
						<!-- 왼쪽 카드 종료 -->
						<!-- 오른쪽 카드 시작 -->
						<div class="col-10" style="min-width: 600px">
							<div class="card" >								
								<div class="card-header">
								
								</div>
								<div class="card-body">								
									<div id="personnel" hidden="hidden">
										<div>전화번호</div>											
											<p style="padding: 10px 0px 0px 10px" id="memberPhone"></p>																																								
										<hr>
										
										<div>휴대전화</div>
											<p style="padding: 10px 0px 0px 10px" id="memberMobile"></p>										
										<hr>
										
										<div>주소</div>
											<p style="padding: 10px 0px 0px 10px" id="memberAddress"></p>										
										<hr>
				
										<div>생년월일</div>
											<p style="padding: 10px 0px 0px 10px" id="memberBirth"></p>																	
										<hr>
										
										<div>성별</div>
										<select style="width:65px" class="form-control" id="memberGender">
											<option value="남">남</option>
											<option value="여">여</option>
										</select>
										<div class="card-footer">
											<button type="button" class="check btn btn-primary">확인</button>									
										</div>
									</div>	
																										
									<div id="info" hidden="hidden">
										<div>이메일</div>
											<p style="padding: 10px 0px 0px 10px" id="infoMemberId"></p>																				
										<hr>										
										<div>소속 부서</div>
											<span style="padding: 10px 0px 0px 10px" id="infoDepartmentCategoryName"></span>
											<span style="padding: 10px 0px 0px 10px" id="infoDepartmentDivisionName"></span>
											<span style="padding: 10px 0px 0px 10px" id="infoDepartmentSectionName"></span>																															
										<hr>										
										
										<div>직위/직책</div>
										<p style="padding: 10px 0px 0px 10px" id="infoMemberPositionName"></p>										
										<hr>										
										
										<div>조직원 상태</div>
										<p style="padding: 10px 0px 0px 10px" id="infoMemberStatus"></p>																				
										<hr>										
										
										<div>권한</div>
										<p style="padding: 10px 0px 0px 10px" id="infoMemberLevelTitle"></p>										
										<hr>										
										
										<div>사번</div>
										<p style="padding: 10px 0px 0px 10px" id="infoMemberEmployeeCode"></p>									
										<hr>										
										
										<div>입사일</div>
										<p style="padding: 10px 0px 0px 10px" id="infoMemberJoinDay"></p>
										
										<div class="modal-footer">
											<button type="button" class="check btn btn-primary">확인</button>									
										</div>									
									</div>									
									
									<div id="education" hidden="hidden">
										<div id="memberEducation">
											
										</div>										
									</div>																	
									
									<div id="project" hidden="hidden">
										<div id="memberProject">
											
										</div>
									</div>
									
									<div id="license" hidden="hidden">
										<div id="memberLicense">
											
										</div>
									</div>
									
									<div id="academy" hidden="hidden">
										<div id="memberAcademy">
											
										</div>
									</div>
									
									<div id="career" hidden="hidden">
										<div id="memberCareer">
											
										</div>
									</div>
									
									<div id="awards" hidden="hidden">
										<div id="memberAwards">
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 오른쪽 카드 종료 -->
					</div>
				</div>
					
			</div>
		</div>
	</div>	
</div>
			

</th:block>

<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>

</html>
