<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">

<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>Sample</title>
	<th:block th:include="layout/customHead"></th:block>	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style>
    .icon-list-wrap .icon-list-item i {
        float: left;
        text-align: center;
        border-radius: .1875rem;
        margin-right: 1rem;
        margin-bottom: 1.5rem;
        font-size: 1.5rem; /* 글자크기 */
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;    
	</style>
		
	<script>
		$(document).ready(function(){
			
			
			$('.departmentJoinMemberByMemberIdButton').click(function(){
				console.log('departmentJoinMemberByMemberIdButton 버튼 테스트 value : '+$(this).attr('value'));	
				let memberId = $(this).attr('value');
				console.log('memberId 확인');	
				location.href='/department/departmentAdminView?memberId='+$(this).attr('value');
			});
			
			//getMemberPosition 리스트
			$.ajax({
				url : '/getMemberPositon'
				,type : 'get'
				,success : function(data){
					console.log(data);					
					$(data).each(function(index,item){
						$('#memberPositionName').append('<option value="'+item.memberPositionName+'">'+item.memberPositionName+'</option>');
					});
				}                 
			});
			
			//getDepartmentCategoryName 리스트
			$.ajax({
				url : '/getDepartmentCategoryName'
				,type : 'get'
				,success : function(data){
					console.log(data);					
					$(data).each(function(index,item){
						$('#departmentCategoryName').append('<option value="'+item.departmentCategoryName+'">'+item.departmentCategoryName+'</option>');
					});
				}                 
			});
			
			//getDepartmentDivisionName 리스트
			$.ajax({
				url : '/getDepartmentDivisionName'
				,type : 'get'
				,success : function(data){
					console.log(data);					
					$(data).each(function(index,item){
						$('#departmentDivisionName').append('<option value="'+item.departmentDivisionName+'">'+item.departmentDivisionName+'</option>');
					});
				}                 
			});
			
			//getDepartmentSectionName 리스트
			$.ajax({
				url : '/getDepartmentSectionName'
				,type : 'get'
				,success : function(data){
					console.log(data);					
					$(data).each(function(index,item){
						$('#departmentSectionName').append('<option value="'+item.departmentSectionName+'">'+item.departmentSectionName+'</option>');
					});
				}                 
			});
			
			//departmentName 리스트
			$.ajax({
				url : '/getDepartmentName'
				,type : 'get'
				,success : function(data){
					console.log(data);					
					$(data).each(function(index,item){
						$('#departmentName').append('<option value="'+item.departmentName+'">'+item.departmentName+'</option>');
					});
				}                 
			});
		
			
			// 조직도 부서명 클릭
			$('.departmentNameButton').click(function(){
				console.log('조직도 버튼 테스트 value : '+$(this).attr('value'));
				// departmentName 별로 부서명을 조회하기 위해 이름 값을 담는 변수  
				let departmentName = $(this).attr('value');
				console.log('departmentName 확인');	
				location.href='/department/departmentAdminView?departmentName='+$(this).attr('value');
			});			
			// member 추가
			$('#saveButton').click(function(){
				console.log('조직원 insert 입력 ');
				
				let memberId = $('#memberId').val(); 
				let memberName = $('#memberName').val();  
				let memberEmployeeCode = $('#memberEmployeeCode').val(); 
				let departmentName = $('#departmentName').val(); 
				let departmentCategoryName = $('#departmentCategoryName').val();
				let departmentDivisionName = $('#departmentDivisionName').val();
				let departmentSectionName = $('#departmentSectionName').val();
				let memberPositionName = $('#memberPositionName').val();
				let memberLevelTitle = $('#memberLevelTitle').val();
				let memberStatus = $('#memberStatus').val();
				let memberPw = $('#memberPw').val();
				
				console.log("memberId = " + memberId);
				console.log("memberName = " + memberName);
				console.log("memberEmployeeCode = " + memberEmployeeCode);
				console.log("departmentName = " + departmentName);
				console.log("departmentCategoryName = " + departmentCategoryName);
				console.log("departmentDivisionName = " + departmentDivisionName);
				console.log("departmentSectionName = " + departmentSectionName);
				console.log("memberPositionName = " + memberPositionName);
				console.log("memberLevelTitle = " + memberLevelTitle);
				console.log("memberStatus = " + memberStatus);
				console.log("memberPw = " + memberPw);	
								
				$.ajax({
						url : '/addMember',
						type : 'post',
						data : {
							memberId:memberId
							,memberName:memberName
							,memberEmployeeCode:memberEmployeeCode
							,departmentName:departmentName
							,departmentCategoryName:departmentCategoryName
							,departmentDivisionName:departmentDivisionName
							,departmentSectionName:departmentSectionName
							,memberPositionName:memberPositionName
							,memberLevelTitle:memberLevelTitle
							,memberStatus:memberStatus
							,memberPw:memberPw
							},							
							success : function(){
								console.log('성공')					
								location.reload();  // 새로고침
							}
							
				});
			});			
		});
	</script>
	
</th:block>

<th:block layout:fragment="customBody">
<div class="row">
	<div class="col-3">
		<div class="card" style="min-height: 100%;">
			<!-- 왼쪽 카드 제목 -->
			<div class="card-header justify-content-between" style="padding: 10px;">
				<div>조직도</div>						
				<div class="icon-list-wrap">
					<div class="icon-list-item">													
						<!-- 부서명 추가 -->
						<a class="btn pull-right" href="#" style="width: 30px; padding: 0;">
							<i class="ik ik-plus-square"></i>
						</a>																		
						<!-- 전체 조직원 리스트 -->
						<a class="departmentNameButton btn pull-right" href="#" th:value="fullView" style="width: 30px; padding: 0;">
							<i class="ik ik-clipboard"></i>
						</a>
					</div>
				</div>						
			</div>
			
			<!-- 왼쪽 카드 내용 -->
			<div class="card-body">
				<div class="row layout-wrap" id="layout-wrap">
					<div class="col-12 list-item" th:each="recursiveList: ${recursiveList}">
				        <div class="d-flex flex-grow-1 min-width-zero text-black-50">
			                <!-- 부서명 리스트 -->
			                <a href="#" class="col-8 departmentNameButton" th:text="${recursiveList.departmentName}" th:value="${recursiveList.departmentName}"></a>
				            <div class="list-actions col-5" >
				                <a href="layout-edit-item.html"><i class="ik ik-edit-2"></i></a>
				                <a href="#" class="list-delete"><i class="ik ik-trash-2"></i></a>
				            </div>
				        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 오른쪽 위 헤드 -->
	<div class="col-9">		
		<div class="card" >
			<div class="card-header justify-content-between" style="padding: 10px;">				
				<div> </div>
				<div class="icon-list-wrap">
					<div class="icon-list-item">																							
						<!-- 조직원 추가 modal-->
						<a class="memberAddButton btn pull-right" href="#" data-toggle="modal" data-target="#detailModal" style="width: 30px; padding: 0;">
							<i class="ik ik-plus-square"></i>
						</a>
					</div>
				</div>					
			</div>
		</div>
		<!-- 오른쪽 밑 -->		
		<div class="card" style="min-height: 650px;">
			<div class="card-header">
				<h3>조직도 상세보기</h3>
			</div>
			<div class="card-body">									
				<div class="container">						  
					<div class="card">							
						<span class="card-body" th:each="departmentJoinMemberList:${departmentJoinMemberList}">
							<!-- 클릭시 각 조직원 인사 정보로 넘어간다(예정) -->
							<a class="departmentJoinMemberByMemberIdButton" href="#" th:value="${departmentJoinMemberList.memberId}"><span th:text="${departmentJoinMemberList.memberName}"></span></a>								
							<span th:text="${departmentJoinMemberList.memberName}"></span>
							<span th:text="${departmentJoinMemberList.memberLevelTitle}"></span> 
							<br>
							<span th:text="${departmentJoinMemberList.departmentCategoryName}"></span>
							<span th:text="${departmentJoinMemberList.departmentDivisionName}"></span>
							<span th:text="${departmentJoinMemberList.departmentSectionName}"></span>
							<br>
							<span th:text="${departmentJoinMemberList.memberPositionName}"></span>
							<span th:text="${departmentJoinMemberList.memberId}"></span>
							<br>
							<span th:text="${departmentJoinMemberList.memberPhone}"></span>
							<span th:text="${departmentJoinMemberList.memberMobile}"></span>
							<br>
							<span th:text="${departmentJoinMemberList.memberJoinDay}"></span>
							<span th:text="${departmentJoinMemberList.memberAddress}"></span>
							<hr>
						</span>																				
					</div>
				</div>					
			</div>
		</div>
	</div>
	<div class="modal" id="detailModal">
		 <div class="modal-dialog mt-0 mb-0" role="document">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h2 class="modal-title">조직원 추가</h2>
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body">							
					<form class="leavePolicyForm">
					<!-- 첫 번째 카드 영역 시작 -  -->
					<div class="card">								
						<div class="card-body">														
							조직원 아이디 :  <div><input type="text" id="memberId" class="form-control"></div>
							조직원 이름 :  <div><input type="text" id="memberName" class="form-control"></div>
							조직원 사번 :  <div><input type="text" id="memberEmployeeCode" class="form-control"></div>																			
							부서명 :  <div><select id="departmentName" class="form-control"></select></div>							
							 :  <div><select id="departmentCategoryName" class="form-control"></select></div>
							 :  <div><select id="departmentDivisionName" class="form-control"></select></div>
							 :  <div><select id="departmentSectionName" class="form-control"></select></div>							
							직위/직책 :  <div><select id="memberPositionName" class="form-control"></select></div>
							조직원 권한 :  <div><input type="text" id="memberLevelTitle" class="form-control" placeholder="일반조직원"></div>
							조직원 상태 :  <div><input type="text" id="memberStatus" class="form-control" placeholder="재직"></div>
							조직원 비밀번호 :  <div><input type="text" id="memberPw" class="form-control"></div>															
						</div>
					</div>							
					</form>								
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button id="saveButton" type="button" class="btn btn-primary">확인</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
				</div>	
			</div>
		</div>
	</div>	
</div>
			

</th:block>

<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>

</html>
