<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart31.team01.member.mapper.MemberMyAcademyMapper">
	
	<!-- myProfile 개인정보 -->
	<select id="memberFilesCode" resultType="String">
		SELECT 
			member_file_code AS memberFileCode
		FROM 
			member_academy
		WHERE 
			member_id = #{memberId}
	</select>

	<!-- myProfile 개인정보 -->
	<resultMap type="ksmart31.team01.member.domain.MemberAcademy" id="myAcademy">	
				<!-- db컬럼 -->		<!-- domain 데이터변수명 -->
		<result column="member_academy_start_day" property="memberAcademyStartDay"/>
		<result column="member_academy_end_day" property="memberAcademyEndDay"/>
		<result column="member_academy_name" property="memberAcademyName"/>
		<result column="member_academy_complete" property="memberAcademyComplete"/>
		<result column="member_academy_institution" property="memberAcademyInstitution"/>
		<result column="member_academy_place" property="memberAcademyPlace"/>
		<result column="member_academy_purpose" property="memberAcademyPurpose"/>
		<result column="member_academy_cost" property="memberAcademyCost"/>
		<result column="member_academy_desc" property="memberAcademyDesc"/>
		<result column="member_file_code" property="memberFileCode"/>
		<result column="member_files_origin_name" property="memberFilesOriginName"/>
		<result column="member_files_save_name" property="memberFilesSaveName"/>
	</resultMap>
	
	<select id="myAcademy" resultMap="myAcademy" parameterType="java.util.Map">
		SELECT 
			member_academy_start_day,
			member_academy_end_day,
			member_academy_name,
			member_academy_complete,
			member_academy_institution,
			member_academy_place,
			member_academy_purpose,
			member_academy_cost,
			member_academy_desc,
			member_file_code,
			member_files_origin_name,
			member_files_save_name
			
		FROM 
			member_academy ma
		INNER JOIN
			member_files mf
		ON 
			ma.member_file_code = mf.member_files_code
		WHERE
			ma.member_id = #{memberId}
		AND
			ma.member_file_code = #{memberFileCode}	
	</select>
	

</mapper>