<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">

<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>documentApprovalManagement</title>
	<th:block th:include="layout/customHead"></th:block>
	<script>
$(document).ready(function() {
		
		$('#btnDelete').click(function() { // 체크박스 삭제시
			/* 유효성 검사 */
			console.log('#btnRemove click.....');
			console.log("$('.custom-control-input').is(':checked') return : " + $('.custom-control-input').is(':checked'));
			if ($('.custom-control-input').is(':checked') == false) {
				alert("삭제를 원하는 항목을 선택하세요");
			} else {
				let ck = new Array(); // let ck = [];
				$('.custom-control-input:checked').each(function(index, item) {
					ck.push($(item).val());
				});	
				// 비동기 요청
				$.ajax({
					url : '/documentManagement/delete',
					type : 'POST',
					data : {
						'ck' : ck
					},
					success : function(data) {
						location.reload();
					}
				});
			}			
		});		
		$("#checkAll").click(function(){
			if ($("#checkAll").is(':checked')) {
				$("input[type=checkbox]").prop("checked", true);
			} else {
				$("input[type=checkbox]").prop("checked", false);
			}
		});		
});


		
		
	</script>
</th:block>

<th:block layout:fragment="customBody">
	<h2>문서통합관리</h2>
	<br />
	<div class="col-md-12">
		<div class="card table-card">
			<div class="card-header">
				<h3>문서관리</h3>
				<div class="card-header-right">
					<button type="button" class="btn btn-secondary" id="btnDelete">
						<i class="ik ik-trash-2" id="btnDelete"></i>삭제
					</button>
					
				</div>
			</div>
			<div class="card-block">
				<div class="table-responsive">

					<table class="table table-hover mb-0">
						<thead>
							<tr>
								<th><div class="custom-control custom-checkbox mb-3">
										<input type="checkbox" class="custom-control-input"	id="checkAll" name="example1">
										<label class="custom-control-label" for="checkAll"></label>
									</div></th>
								<th>상태</th>
								<th>문서명</th>
								<th><i class="ik ik-paperclip"></i><i
									class="ik ik-message-square"></i></th>
								<!-- 첨부파일&댓글 -->
								<th>기안자</th>
								<th>기안일</th>
								<th>최종승인자</th>
								<th>최종승인일</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="list : ${documentManagementList}">
								<td>
 									<div class="custom-control custom-checkbox mb-3">
	 									<input type="checkbox" class="custom-control-input" th:id="${list.draftDocumentCode}" name="documentCheckbox" th:value="${list.draftDocumentCode}">
										<label class="custom-control-label"	th:for="${list.draftDocumentCode}"> </label>
									</div> 
								</td>
								<td>
									<div th:switch="${list.draftDocumentStatus}">
										<label th:case="'결재중'" class="badge badge-primary"> <span
											th:text="${list.draftDocumentStatus}"></span></label> <label
											th:case="'승인'" class="badge badge-success"> <span
											th:text="${list.draftDocumentStatus}"></span></label> <label
											th:case="'반려'" class="badge badge-danger"> <span
											th:text="${list.draftDocumentStatus}"></span></label> <label
											th:case="'임시저장'" class="badge badge-secondary"> <span
											th:text="${list.draftDocumentStatus}"></span></label>
									</div>
								</td>
								<td><a th:href="@{/documentManagement/detail(draftDocumentCode=${list.draftDocumentCode})}"><span th:text="${list.draftDocumentFileSaveName}"></span></a></td>
								<td>
									<i class="ik ik-paperclip">
										<span th:text="${list.documentAttatchFileCount}"></span>
									</i>
									<i class="ik ik-message-square">
										<span th:text="${list.documentOpinionCount}"></span>
									</i>
								</td>
								<td><span th:text="${list.draftDocumentMemberName}"></span></td>
								<td><span th:text="${list.draftDocumentDate}"></span></td>
								<td><span th:text="${list.draftDocumentFinalApprovalMemberName}"></span></td>
								<td><span th:text="${list.draftDocumentFinalApprovalDate}"></span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>

</html>
