<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">

<th:block layout:fragment="customHead">
    <meta charset="UTF-8">
    <title>Ksmartware</title>
    <th:block th:include="layout/customHead"></th:block>
    <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}">
    <script th:src="@{https://code.jquery.com/jquery-1.12.4.js}"></script>
    <script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>

    <script>
        $(function() {
            $("#fromDate").datepicker();
            $("#toDate").datepicker();
        });
        $(document).ready(function() {
            $('#btnDelete').click(function() { // 체크박스 삭제시
                /* 유효성 검사 */
                console.log('#btnRemove click.....');
                console.log("$('.custom-control-input').is(':checked') return : " + $('.custom-control-input').is(':checked'));
                if ($('.custom-control-input').is(':checked') == false) {
                    alert("삭제를 원하는 항목을 선택하세요");
                } else {
                    let ck = new Array(); // let ck = [];
                    $('.custom-control-input:checked').each(function(index, item) {
                        ck.push($(item).val());
                    });
                    // 비동기 요청
                    $.ajax({
                        url: '/documentManagement/delete',
                        type: 'POST',
                        data: {
                            'ck': ck
                        },
                        success: function(data) {
                            location.reload();
                        }
                    });
                }
            });
            //문서 상세검색 창
            $('#searchDoc').click(function() {
                console.log('#kh click...');
                $('#selectBox').toggle();
            });
            $('#searchDocIco').click(function() {
                console.log('#kh click...');
                $('#selectBox').toggle();
            });

            $("#checkAll").click(function() {
                if ($("#checkAll").is(':checked')) {
                    $("input[type=checkbox]").prop(
                        "checked", true);
                } else {
                    $("input[type=checkbox]").prop(
                        "checked", false);
                }
            });
        });
    </script>
</th:block>

<th:block layout:fragment="customBody">
    <h2>문서통합관리-문서관리</h2>
    <br />
    <div class="col-md-12">
        <div class="card table-card">
            <div class="card-header">
                <div class="col-md-12">
                    <div class="collapse d-md-block display-options" id="displayOptions">
                        <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                            <form action="">
                                <button type="button" class="adv-btn ik ik-chevron-down dropdown-toggle" id="searchDoc"></button>
                                <button type="button" class="btn btn-icon" id="searchDocIco">
                                    <i class="ik ik-search"></i>
                                </button>
                                <div class="adv-search-wrap dropdown-menu dropdown-menu-right" id="selectBox" style="width: 440px; height: 500px;">
                                    <div class="form-group">
                                        <label for="documentStatus">문서상태</label>
                                        <select class="form-control" id="documentStatus" name="documentStatus">
                                            <option value="" selected="selected">선택</option>
                                            <option value="결재중">결재진행문서</option>
                                            <option value="승인">최종승인문서</option>
                                            <option value="반려">반려문서</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="documentStatus">검색기간</label>
                                        <select class="form-control" id="searchDocumentDate" name="searchDocumentDate">
                                            <option value="">선택</option>
                                            <option value="draftDate">기안일</option>
                                            <option value="approvedDate">최종승인일</option>
                                        </select>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" id="fromDate" name="documentDateStart">
                                            </div>
                                            ~
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" id="toDate" name="documentDateEnd">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="documentName">문서명</label>
                                        <input type="text" class="form-control" placeholder="문서명">
                                    </div>
                                    <div class="form-group">
                                        <label for="documentMemberName">기안자</label>
                                        <input type="text" class="form-control" placeholder="기안자">
                                    </div>
                                    <div class="form-group">
                                        <label for="documentMemberName">문서양식</label>
                                        <select class="form-control" id="documentStatus" name="documentStatus">
                                            <option value="" selected="selected">선택</option>
                                            <option value="">구매요청서</option>
                                            <option value="">지출결의서</option>
                                            <option value="">휴가신청서</option>
                                            <option value="">프로잭트 업무보고</option>
                                            <option value="">프로젝트 지출결의서</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-theme">검색</button>
                                </div>
                            </form>
                        </div>
                        <div class="float-md-right">
                            <button type="submit" class="btn btn-secondary" id="btnDelete">
                                <i class="ik ik-trash-2" id="btnDelete"></i>삭제
                            </button>

                        </div>
                    </div>
                    <div class="card-header-right"></div>
                </div>
            </div>
            <div class="card-block">
                <div class="table-responsive">

                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input" id="checkAll" name="example1"> <label class="custom-control-label" for="checkAll"></label>
                                    </div>
                                </th>
                                <th>상태</th>
                                <th>문서명</th>
                                <th><i class="ik ik-paperclip"></i><i class="ik ik-message-square"></i></th>
                                <!-- 첨부파일&댓글 -->
                                <th>기안자</th>
                                <th>기안일</th>
                                <th>최종승인자</th>
                                <th>최종승인일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="list : ${documentManagementList}">
                                <td>
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input" th:id="${list.draftDocumentCode}" name="documentCheckbox" th:value="${list.draftDocumentCode}"> <label class="custom-control-label" th:for="${list.draftDocumentCode}"> </label>
                                    </div>
                                </td>
                                <td>
                                    <div th:switch="${list.draftDocumentStatus}">
                                        <label th:case="'결재중'" class="badge badge-primary"> 
                                        	<span th:text="${list.draftDocumentStatus}"></span>
                                        </label>
                                        	<label th:case="'승인'" class="badge badge-success">
                                        	<span th:text="${list.draftDocumentStatus}"></span>
                                        </label>
                                        	<label th:case="'반려'" class="badge badge-danger">
                                        	<span th:text="${list.draftDocumentStatus}"></span>
                                        </label> 
                                        <label th:case="'임시저장'" class="badge badge-secondary"> 
                                        	<span th:text="${list.draftDocumentStatus}"></span>
                                        </label>
                                    </div>
                                </td>
                                <td><a th:href="@{/documentManagement/detail(draftDocumentCode=${list.draftDocumentCode})}"><span th:text="${list.draftDocumentFileSaveName}"></span></a></td>
                                <td><i class="ik ik-paperclip"> <span th:text="${list.documentAttatchFileCount}"></span>
                                    </i> <i class="ik ik-message-square"> <span th:text="${list.documentOpinionCount}"></span>
                                    </i></td>
                                <td><span th:text="${list.draftDocumentMemberName}"></span></td>
                                <td><span th:text="${list.draftDocumentDate}"></span></td>
                                <td><span th:text="${list.draftDocumentFinalApprovalMemberName}"></span></td>
                                <td><span th:text="${list.draftDocumentFinalApprovalDate}"></span></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</th:block>

<th:block layout:fragment="customJquery">
    <th:block th:include="layout/customJquery"></th:block>

</th:block>

</html>