<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>Sample</title>
		<th:block th:include="layout/customHead"></th:block>
		<script>
		$(document).ready(function(){
			
			let registrationMemberId = '[[${memberId}]]';
			let memberEmployeeCode = '[[${memberEmployeeCode}]]';
			let departmentName = '[[${departmentName}]]';
			let memberPositionName = '[[${memberPositionName}]]';
			$('#registrationMemberId').val(registrationMemberId);
			$('#memberEmployeeCode').val(memberEmployeeCode);
			$('#departmentName').val(departmentName);
			$('#memberPositionName').val(memberPositionName);
			console.log("registrationMemberId : " + registrationMemberId);
			console.log("memberEmployeeCode : " + memberEmployeeCode);
			console.log("departmentName : " + departmentName);
			console.log("memberPositionName : " + memberPositionName);			
			
			//memberId 리스트
			$.ajax({
				url : '/getMemberId'
				,type : 'get'
				,success : function(data){
					console.log(data);
					$('#memberAccountMemberId').empty();
					$(data).each(function(index,item){
						$('#memberAccountMemberId').append('<option value="'+item.memberId+'">'+item.memberId+'</option>');
					});
				}                 
			});	
			
			// memberAccount insert
			$('#memberAccountAddButton').click(function(){
				console.log('조직원계좌 insert 버튼 테스트');
				let memberName = $('#memberName').val();      		
            	let memberId = $('#memberAccountMemberId').val();
            	let memberAccountBank = $('#memberAccountBank').val();
            	let memberAccountNumber = $('#memberAccountNumber').val();
            	let registrationMemberId = $('#registrationMemberId').val();
            	let memberEmployeeCode = $('#memberEmployeeCode').val();
            	let departmentName = $('#departmentName').val();
            	let memberPositionName = $('#memberPositionName').val();
				
				$.ajax({
					url : '/addMemberAccount'
					,type : 'post'
					,data : {'memberName':memberName,'memberId':memberId,
						'memberAccountBank':memberAccountBank,
						'memberAccountNumber':memberAccountNumber,'registrationMemberId':registrationMemberId,
						'memberEmployeeCode':memberEmployeeCode,
						'departmentName':departmentName,
						'memberPositionName':memberPositionName}
					,success : function(data){
						console.log('#memberAccountAddButton click');
						$('#memberAccountListButton').trigger('click');
	               		
					}	
				});
			});
			
			
			// memberAccount 리스트 			
			$('#memberAccountListButton').click(function(){
				console.log('조직원 계좌 리스트버튼 테스트');	
					
					$.ajax({
			    		url : '/getMemberAccount'
			    		,type : 'get'			    								
			    		,success:function(data){			    			
							$('#memberAccountList').empty();							
							$(data).each(function(index,item){
								$('#memberAccountList').append('<tr>');
								$('#memberAccountList').append('<td>'+item.memberName+'</td>');
								$('#memberAccountList').append('<td>'+item.memberId+'</td>');
								$('#memberAccountList').append('<td>'+item.memberAccountBank+'</td>');
								$('#memberAccountList').append('<td>'+item.memberAccountNumber+'</td>');
								$('#memberAccountList').append('<td>'+item.memberAccountDate+'</td>');
								$('#memberAccountList').append('<td>'+item.registrationMemberId+'</td>');
								$('#memberAccountList').append('<td>'+item.memberEmployeeCode+'</td>');
								$('#memberAccountList').append('<td>'+item.departmentName+'</td>');
								$('#memberAccountList').append('<td>'+item.memberPositionName+'</td>');
								$('#memberAccountList').append('</tr>');
							});	
			    		}
					});							
				});			
			});
		</script>		
	</th:block>
	
	<th:block layout:fragment="customBody">		
		
		<div class="card" style="min-height: 650px;">
			<div class="table-responsive">
					<h3>거래처</h3>
					<table class="table table-hover" id="customerAddList">			
						<thead>
							<tr>								
								<th>조직원 명</th>								
								<th>조직원 아이디</th>
								<th>은행 명</th>
								<th>계좌번호</th>
								<th>등록자 아이디</th>
								<th>사번</th>
								<th>부서명</th>								
								<th>직위/직책</th>									
							</tr>
						</thead>
				        <tbody>
							<tr>
								<td><input type="text" id="memberName"></td>								
								<td>
								<select id="memberAccountMemberId"></select>
								</td>
								<td><input type="text" id="memberAccountBank"></td>
								<td><input type="text" id="memberAccountNumber"></td>
								<td><input type="text" id="registrationMemberId"></td>
								<td><input type="text" id="memberEmployeeCode"></td>
								<td><input type="text" id="departmentName"></td>								
								<td><input type="text" id="memberPositionName"></td>
							</tr>
						</tbody>
					</table>									
					<button type="button" id="memberAccountAddButton">add</button>								
					<button type="button" id="memberAccountListButton">List</button>					
				</div>
			<div class="card-body p-0 table-border-style">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>조직원 명</th>
								<th>조직원 아이디</th>
								<th>은행 명</th>
								<th>계좌번호</th>
								<th>등록일</th>
								<th>등록자 아이디</th>
								<th>사번</th>
								<th>부서명</th>
								<th>직위/직책</th>
							</tr>
						</thead>
						<tbody id="memberAccountList">
							 		 
						</tbody>
					</table>
				</div>
			</div>
		</div>		
		
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
	
</html>
