<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>leaveHistoryManagement</title>
	<th:block th:include="layout/customHead"></th:block>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script>
		$(document).ready(function(){
			// 상세 휴가 내역에서 비동기 요청 시 필요한 값이기 때문에 전역변수로 설정 
			let memberId;
			let leaveCategorySort = '';
			
			// 조직도 버튼 클릭 이벤트
			$('.departmentNameButton').click(function(){
				console.log('조직도 버튼 테스트 value : '+$(this).attr('value'));
				// departmentName 별로 부서명을 조회하기 위해 이름 값을 담는 변수  
				let departmentName = $(this).attr('value');
				console.log('departmentName val : '+departmentName);
				// 변수 이름에 해당하는 값이 저장되어 있는 문자열을 각각의 값으로 분리시켜 담기위한 배열 
				let grantHour = new Array();
				let grantDay = new Array();
				let usedHour = new Array();
				let usedDay = new Array();
				let remainingHour = new Array();
				let remainingDay = new Array();
				// 생성될 테이블 내용을 담을 변수
				let contents = '';
				// 비동기 요청
				$.ajax({
					url : '/leave/leaveHistoryByMemberIdList',
					type : 'get',
					data : {
						departmentName:departmentName
					},
					success : function(data){
						$('#historyTable tbody').empty();
						// 리턴 값 확인
						console.log(data);
						$(data).each(function(i, item){
							// 하나의 문자열로 연결되어 있는 값을 구분자(,)를 이용해 각각의 값으로 분리해서 배열에 저장한다 
							// 예) "1,10,0,0,0,0" -> ["1", "10", "0", "0", "0", "0"]
							grantHour = item.leaveHistoryGrantHour.split(',');
							grantDay = item.leaveHistoryGrantDay.split(',');
							usedHour = item.leaveHistoryUsedHour.split(',');
							usedDay = item.leaveHistoryUsedDay.split(',');
							remainingHour = item.leaveHistoryRemainingHour.split(',');
							remainingDay = item.leaveHistoryRemainingDay.split(',');
							// 생성할 테이블 내용
							contents += '<tr>';
							contents += '<td><a class="memberName" value="'+item.memberId+'" href="#" data-toggle="modal" data-target="#detailModal">'+item.memberName+'</a></td>';			// 이름
							contents += '<td>'+item.memberPositionName+'</td>';	// 직위/직책
							contents += '<td>'+item.memberJoinDay+'</td>';		// 입사일
							contents += '<td>'+item.memberEmployeeCode+'</td>';	// 사번
							for (var i = 0; i < item.leaveCategoryNumber; i++) {
								contents += '<td class="text-primary">'; // 부여일
								contents += ''+grantDay[i]+'일 ';
								if (grantHour[i] != 0) {
									contents += '<br>'+grantHour[i]+'시간';
								}
								contents += '</td>';
								contents += '<td class="text-danger">';	// 사용일
								contents += ''+usedDay[i]+'일 ';
								if (usedHour[i] != 0) {
									contents += '<br>'+usedHour[i]+'시간';
								}
								contents += '</td>';
								contents += '<td>';	// 잔여일
								contents += ''+remainingDay[i]+'일 ';
								if (remainingHour[i] != 0) {
									contents += '<br>'+remainingHour[i]+'시간';
								}								
								contents += '</td>';
							}
							contents += '</tr>';
							console.log('contents : '+contents);
							// contents 변수에 담긴 내용을 historyTable 테이블 바디에 추가
							$('#historyTable tbody').append(contents);
							// 변수 값 초기화
							contents = "";
							
						});
					},	
					error : function(error){
						console.log(error);
					}
				});
			});
			// 상세 휴가 내역 조회
			$(document).on('click','.memberName',function(){
				console.log('memberName 클릭 이벤트 확인');
				// 부여, 사용 내역 테이블 바디 초기화
				$('#grantTable tbody').empty();
				$('#usedTable tbody').empty();
				memberId = $(this).attr('value');
				console.log('memberId val : '+memberId);
				$.ajax({
					url : '/leave/leaveHistoryByMemberId',
					type : 'get',
					data : {
						leaveCategorySort:leaveCategorySort,
						memberId:memberId
					},
					success : function(data){
						console.log(data);
						// 부여 내역 리스트
						$(data.leaveGrantList).each(function(i, item){
							$('#grantTable tbody').append('<tr>');
							$('#grantTable tbody').append('<td>'+item.leaveCategorySort+'</td>');
							$('#grantTable tbody').append('<td>'+item.leaveGrantDate+'</td>');
							$('#grantTable tbody').append('<td>'+item.leaveGrantDay+'일 '+item.leaveGrantHour+'시간</td>');
							$('#grantTable tbody').append('<td>'+item.leaveGrantReason+'</td>');
							$('#grantTable tbody').append('</tr>');
						});
						// 사용 내역 리스트
						$(data.leaveUsedList).each(function(i, item){
							$('#usedTable tbody').append('<tr>');
							$('#usedTable tbody').append('<td>'+item.leaveCategorySort+'</td>');
							$('#usedTable tbody').append('<td>'+item.leaveDetailSort+'</td>');
							$('#usedTable tbody').append('<td>'+item.leaveUsedStartDay+' - '+item.leaveUsedEndDay+'</td>');
							$('#usedTable tbody').append('<td>'+item.leaveUsedDay+'일 '+item.leaveUsedHour+'시간</td>');
							$('#usedTable tbody').append('<td>'+item.leaveUsedReason+'</td>');
							$('#usedTable tbody').append('</tr>');
						});
						// 부여, 사용, 총 휴가일 
						$(data.totalLeaveGrantAndUsed).each(function(i, item){
							$('#totalGrant').html(''+item.leaveTotalGrantDay+'일 '+item.leaveTotalGrantHour+'시간');
							$('#totalUsed').html(''+item.leaveTotalUsedDay+'일 '+item.leaveTotalUsedHour+'시간');
							$('#total').html(''+item.leaveTotalDay+'일 '+item.leaveTotalHour+'시간');
						});
					},	
					error : function(error){
						console.log(error);
					}
				});
				
			});
			// 휴가 종류 선택 이벤트
			$(document).on('change','#categoryList',function(){
				console.log('셀렉트 박스 체인지 테스트');
				// 부여, 사용 내역 테이블 바디 초기화
				$('#grantTable tbody').empty();
				$('#usedTable tbody').empty();
				// 선택된 옵션 값을 담는 변수
				leaveCategorySort = $("#categoryList option:selected").val();
				console.log('셀렉트 박스 val : '+leaveCategorySort);
				// memberId 값 확인
				console.log('memberId val : '+memberId);
				// 비동기 요청
				$.ajax({
					url : '/leave/leaveHistoryByMemberId',
					type : 'get',
					data : {
						leaveCategorySort:leaveCategorySort,
						memberId:memberId
					},
					success : function(data){
						console.log(data);
						// 부여, 사용 내역 테이블 바디 초기화
						$('#grantTable tbody').empty();
						$('#usedTable tbody').empty();
						// 부여 내역 리스트
						$(data.leaveGrantList).each(function(i, item){
							$('#grantTable tbody').append('<tr>');
							$('#grantTable tbody').append('<td>'+item.leaveCategorySort+'</td>');
							$('#grantTable tbody').append('<td>'+item.leaveGrantDate+'</td>');
							$('#grantTable tbody').append('<td>'+item.leaveGrantDay+'일 '+item.leaveGrantHour+'시간</td>');
							$('#grantTable tbody').append('<td>'+item.leaveGrantReason+'</td>');
							$('#grantTable tbody').append('</tr>');
						});
						// 사용 내역 리스트
						$(data.leaveUsedList).each(function(i, item){
							$('#usedTable tbody').append('<tr>');
							$('#usedTable tbody').append('<td>'+item.leaveCategorySort+'</td>');
							$('#usedTable tbody').append('<td>'+item.leaveDetailSort+'</td>');
							$('#usedTable tbody').append('<td>'+item.leaveUsedStartDay+' - '+item.leaveUsedEndDay+'</td>');
							$('#usedTable tbody').append('<td>'+item.leaveUsedDay+'일 '+item.leaveUsedHour+'시간</td>');
							$('#usedTable tbody').append('<td>'+item.leaveUsedReason+'</td>');
							$('#usedTable tbody').append('</tr>');
						});
						// 부여, 사용, 총 휴가일 
						$(data.totalLeaveGrantAndUsed).each(function(i, item){
							$('#totalGrant').html(''+item.leaveTotalGrantDay+'일 '+item.leaveTotalGrantHour+'시간');
							$('#totalUsed').html(''+item.leaveTotalUsedDay+'일 '+item.leaveTotalUsedHour+'시간');
							$('#total').html(''+item.leaveTotalDay+'일 '+item.leaveTotalHour+'시간');
						});
					},	
					error : function(error){
						console.log(error);
					}
				});
			});
			// 부여 및 차감 선택 이벤트
			$('#grantAndUsed').change(function(){
				console.log('부여or차감 선택 : '+$('#grantAndUsed').val());
				// 휴가 종류 선택 박스 초기화
				$('#leaveCategorySortList').empty();
				// 부여 선택 
				if($('#grantAndUsed').val() == '부여'){
					// 부여 그룹 숨김 해제
					$('#부여').attr('hidden', false);
					// 차감 그룹 숨김
					$('#차감').attr('hidden', true);
					// 비동기 요청
					$.ajax({
						url : '/leave/leaveCategoryList',
						type : 'get',
						success : function(data){
							console.log(data);
							// 휴가 종류 선택 박스에 리턴 값 추가
							$(data).each(function(i, item){
								$('#leaveCategorySortList').append('<option value="'+item.leaveCategorySort+'">'+item.leaveCategorySort+'</option>');
							});
						},	
						error : function(error){
							console.log(error);
						}
					});
				// 차감 선택
				}else{
					// 차감 그룹 숨김 해제
					$('#차감').attr('hidden', false);
					// 부여 그룹 숨김
					$('#부여').attr('hidden', true);
					// 비동기 요청
					$.ajax({
						url : '/leave/leaveDetailList',
						type : 'get',
						success : function(data){
							console.log(data);
							let preCategory = '';	// 이전 휴가 종류 
							let nextCategory = '';	// 다음 휴가 종류
							$(data).each(function(i, item){
								nextCategory = item.leaveCategorySort;
								// 휴가 종류 값 비교 
								if(preCategory != nextCategory){ // 휴가 종류 값이  같지 않을 때 비활성화된 채로 목록에 추가
									$('#leaveCategorySortList').append('<option disabled>'+item.leaveCategorySort+'</option>');
									preCategory = nextCategory;
								}
								// 휴가 종류 선택 박스에 상세 휴가 종류 추가
								$('#leaveCategorySortList').append('<option value="'+item.leaveCategorySort+', '+item.leaveDetailSort+', '+item.leaveDetailCode+'">&nbsp;&nbsp;&nbsp;&nbsp;'+item.leaveDetailSort+'</option>');
							});
							$('#leaveCategorySortList').val(data.leaveCategorySort+', '+data.leaveDetailSort+', '+data.leaveDetailCode).trigger('change');
						},	
						error : function(error){
							console.log(error);
						}
					});
				}
			});
			// 부여 및 차감 모달 - 차감 - 카테고리 선택 시 이벤트
			$('#leaveCategorySortList').change(function(){
				if($('#grantAndUsed').val() == '차감'){
					console.log('차감-카테고리 선택 체인지 테스트');
					// 상세 휴가 코드 얻기 위한 변수 
					let detailCode = $('#leaveCategorySortList').val();
					console.log('선택 값 val : '+detailCode); // 현재 밸류 값 예시) '보상 휴가, 대체 휴가, leave_detail_code_5'
					$.ajax({
						url : '/leave/leaveDetailByDetailCode',
						type : 'get',
						data : {
							detailCode: detailCode
						},
						success : function(data){
							console.log(data);
							// 최대 사용 시간, 일 값으로 변경 
							$("#usedMinimumHour").val(data.leaveDetailMaximumHour).prop('checked', true);
							$("#usedMinimumDay").val(data.leaveDetailMaximumDay);
						},	
						error : function(error){
							console.log(error);
						}
					});
				}
			});
			$('#categoryList').val('').trigger('change');
			$('#grantAndUsed').val('부여').trigger('change');
		});
	</script>
	<style>
		.test tr th{
		    text-align: center;
		    min-width: 150px;
		    position: relative;
		}
	</style>	
</th:block>
<th:block layout:fragment="customBody">
<div class="row">
	<!-- 왼쪽 카드 영역 시작 -->
	<div class="col-3">
		<div class="card" style="height: 100%">
			<!-- 왼쪽 카드 제목 -->
			<div class="card-header">조직도</div>
			<!-- 왼쪽 카드 내용 -->
			<div class="card-body">
				<ul class="nav flex-column">
					<li class="nav-item" th:each="recursiveList: ${recursiveList}">
						<a class="nav-link departmentNameButton" href="#" th:text="${recursiveList.departmentName}" th:value="${recursiveList.departmentName}"></a>
					</li>	
				</ul>
			</div>
		</div>
	</div>
	<!-- 왼쪽 카드 영역 종료 -->
	<!-- 오른쪽 카드 영역 시작 -->
	<div class="col-9">
		<!-- 오른쪽 카드 제목 -->
		<div class="card" style="height: 100%;">
			<div class="card-header justify-content-between">
				<div>휴가 기준 : 회계연도&nbsp;&nbsp;&nbsp;&nbsp;검색 연도 : 2019 년</div>
				<div class="pull-right">
					<button class="btn btn-outline-primary pull-right" data-toggle="modal" data-target="#leaveGrantAndUsedModal">휴가 부여 및 차감</button>
				</div>
			</div>
			<div class="card-body" style="padding:0px;">
				<!-- 전체 조직원 휴가 내역 테이블 -->
				<div style="width:100%; height:480px; overflow:auto;">
					<div class="container" style="padding:0px;">
						<div class="table-responsive">
							<table class="table table-bordered test" id="historyTable">
								<thead>
									<tr>
										<th rowspan="2">이름</th>
										<th rowspan="2">직위/직책</th>
										<th rowspan="2">입사일</th>
										<th rowspan="2">사번</th>
										<th:block th:each="categoryList : ${leaveCategoryList}">
											<th colspan="3" th:text="${categoryList.leaveCategorySort}"></th>
										</th:block>
									</tr>
							        <tr>
							        	<th:block th:each="categoryList : ${leaveCategoryList}">
											<th>부여 일수</th>
											<th>사용 일수</th>
											<th>잔여 일수</th>
										</th:block>
							        </tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>										
			</div>
		</div>
	</div>
	<!-- 오른쪽 카드 영역 종료 -->
</div>
<!-- 상세 휴가 내역 팝업 -->
<div class="modal" id="detailModal">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog" style="max-width: 100%; width: auto; display: table;">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h2 class="modal-title">휴가 상세 내역</h2>
				<button type="button" class="close" data-dismiss="modal">×</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				<div class="row">
					<!-- 휴가 종류 셀렉트 박스 -->
					<div class="col-12" style="border: 1px solid #ccc; height:50px; padding-top:7px">	
						<div class="form-group row">
							<label for="exampleInputUsername2" class="col-sm-1 col-form-label">휴가 종류</label>
							<select class="form-control col-1" id="categoryList">
								<option value="">전체</option>
								<option th:each="categoryList : ${leaveCategoryList}" 
									th:value="${categoryList.leaveCategorySort}" 
									th:utext="${categoryList.leaveCategorySort}"/>
							</select>
						</div>
					</div>
					<!-- 부여 내역 설정 -->
					<div class="col-6" style="border: 1px solid #ccc; height:50px; padding-top:15px;">
						<span>휴가일수 부여 내역</span>
					</div>
					<!-- 사용 내역 설정 -->
					<div class="col-6" style="border: 1px solid #ccc; height:50px; padding-top:15px;">
						<span>휴가일수 사용(차감) 내역</span>
					</div>
					<!-- 부여 내역 리스트 -->
					<div class="col-6" style="border: 1px solid #ccc; padding:0px;">
						<div class="table-responsive">
							<table class="table table-bordered" id="grantTable">
								<thead>
									<tr>
										<th>휴가 종류</th>
										<th>부여일</th>
										<th>부여 휴가 일수</th>
										<th>부여 사유</th>
									</tr>
								</thead>	
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<!-- 사용 내역 리스트 -->
					<div class="col-6" style="border: 1px solid #ccc; padding:0px;">
						<div class="table-responsive">
							<table class="table table-bordered" id="usedTable">
								<thead>
									<tr>
										<th>휴가 종류</th>
										<th>휴가 세부 종류</th>
										<th>휴가 기간</th>
										<th>휴가 일수</th>
										<th>휴가 사유</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<!-- 휴가 부여일수 합계 -->
					<div class="col-3" style="border: 1px solid #ccc; height:50px; padding:15px; text-align:center;">
						<span>휴가 부여일수 합계</span>
					</div>
					<!-- 휴가 부여일수 합계 -->
					<div class="col-3 text-primary" style="border: 1px solid #ccc; height:50px; padding:15px; text-align:center;">
						<span id="totalGrant"></span>
					</div>
					<!-- 휴가 사용일수 합계 -->
					<div class="col-3" style="border: 1px solid #ccc; height:50px; padding:15px; text-align:center;">
						<span>휴가 사용일수 합계</span>
					</div>
					<!-- 휴가 사용일수 합계 -->
					<div class="col-3 text-danger" style="border: 1px solid #ccc; height:50px; padding:15px; text-align:center;">
						<span id="totalUsed"></span>
					</div>
					<!-- 휴가 일수 합계 -->
					<div class="col-6" style="border: 1px solid #ccc; height:50px; padding:15px; text-align:center;">
						<span>휴가 일수 합계</span>
					</div>
					<!-- 휴가 일수 합계 -->
					<div class="col-6" style="border: 1px solid #ccc; height:50px; padding:15px; text-align:center;">
						<span id="total"></span>
					</div>
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<!-- 휴가 부여 및 차감 팝업 -->
<div class="modal" id="leaveGrantAndUsedModal">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog modal-lg">
		<div class="modal-content">
			<!-- Modal Header -->
	        <div class="modal-header">
				<h4 class="modal-title">휴가 부여 및 차감</h4>
				<button type="button" class="close" data-dismiss="modal">×</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				<div class="card">
					<div class="card-header">1. 휴가 부여 및 차감 내역 설정</div>
					<div class="card-body">
						<div>휴가일수 부여 및 차감할 휴가 종류 등을 선택합니다. 반드시 휴가 부여 및 차감 사유를 입력하여야 합니다.</div><br>
						<!-- 내역 설정 -->
						<div class="input-group">
							<label for="exampleInputUsername2" class="col-2 col-form-label">내역 설정</label>
							<select class="form-control col-2" id="grantAndUsed">
								<option value="부여">부여</option>
								<option value="차감">차감</option>
							</select>
							<label for="exampleInputUsername2" class="col-1 col-form-label"></label>
							<select class="form-control" id="leaveCategorySortList">
							</select>
						</div>
						<!-- 기간 - 부여 -->
						<div class="input-group" id="부여" hidden="hidden">
							<label for="exampleInputUsername2" class="col-2 col-form-label">부여일</label>
							<input type="text" class="form-control col-2">
							<div class="col-1"></div>
							<input type="text" class="form-control col-1" value="1">
							<label for="exampleInputUsername2" class="col-1 col-form-label">일</label>
							<select class="form-control col-1" id="">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
							</select>
							<label for="exampleInputUsername2" class="col-2 col-form-label">시간으로 지정</label>
						</div>
						<!-- 기간 - 차감 -->
						<div class="input-group" id="차감" hidden="hidden">
							<label for="exampleInputUsername2" class="col-2 col-form-label">휴가 기간</label>
							<input type="text" class="form-control col-2">
							&nbsp;&nbsp;~&nbsp;&nbsp; 
							<input type="text" class="form-control col-2">
							<div class="col-1"></div>
							<input type="text" class="form-control col-1" value="0" id="usedMinimumDay">
							<label for="exampleInputUsername2" class="col-1 col-form-label">일</label>
							<select class="form-control col-1" id="usedMinimumHour">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
							</select>
							<label for="exampleInputUsername2" class="col-2 col-form-label">시간으로 지정</label>
						</div>
						<!-- 사유 -->
						<div class="input-group">
							<label for="exampleInputUsername2" class="col-2 col-form-label">사유 입력</label>
							<input type="text" class="form-control" placeholder="부여 및 차감 사유 (필수입력)">
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">2. 휴가 부여 및 차감 대상자 설정</div>
					<div class="card-body">
						<div>휴가일수 부여 및 차감의 대상자를 설정합니다.</div><br>					
						<div class="col-6">
							<ul class="nav flex-column">
								<li class="nav-item" th:each="recursiveList: ${recursiveList}">
									<a class="nav-link departmentNameButton" href="#" th:text="${recursiveList.departmentName}" th:value="${recursiveList.departmentName}"></a>
								</li>	
							</ul>
						</div>
					</div>
				</div>
			</div>
	        <!-- Modal footer -->
	        <div class="modal-footer">
	          <button type="button" class="btn btn-primary" id="modifyLeaveCategory" data-dismiss="modal">확인</button>
	          <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
	        </div>
		</div>
	</div>
</div>
</th:block>

<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>
	
</html>