<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>leaveHistoryManagement</title>
	<th:block th:include="layout/customHead"></th:block>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			// 조직도 버튼 클릭 이벤트
			$('.departmentNameButton').click(function(){
				
				console.log('조직도 버튼 테스트 value : '+$(this).attr('value'));
				// departmentName 별로 부서명을 조회하기 위해 이름 값을 담는 변수  
				let departmentName = $(this).attr('value');
				console.log('departmentName val : '+departmentName);
				// 변수 이름에 해당하는 값이 저장되어 있는 문자열을 각각의 값으로 분리시켜 담기위한 배열 
				let grantHour = new Array();
				let grantDay = new Array();
				let usedHour = new Array();
				let usedDay = new Array();
				let remainingHour = new Array();
				let remainingDay = new Array();
				// 생성될 테이블 내용을 담을 변수
				let contents = '';
				// 비동기 요청
				$.ajax({
					url : '/leave/leaveHistoryByMemberIdList',
					type : 'get',
					data : {
						departmentName:departmentName
					},
					success : function(data){
						$('#historyTable tbody').empty();
						// 리턴 값 확인
						console.log(data);
						$(data).each(function(i, item){
							// 하나의 문자열로 연결되어 있는 값을 구분자(,)를 이용해 각각의 값으로 분리해서 배열에 저장한다 
							// 예) "1,10,0,0,0,0" -> ["1", "10", "0", "0", "0", "0"]
							grantHour = item.leaveHistoryGrantHour.split(',');
							grantDay = item.leaveHistoryGrantDay.split(',');
							usedHour = item.leaveHistoryUsedHour.split(',');
							usedDay = item.leaveHistoryUsedDay.split(',');
							remainingHour = item.leaveHistoryRemainingHour.split(',');
							remainingDay = item.leaveHistoryRemainingDay.split(',');
							// 테이블 생성
							contents += '<tr>';
							contents += '<td>'+item.memberName+'</td>';			// 이름
							contents += '<td>'+item.memberPositionName+'</td>';	// 직위/직책
							contents += '<td>'+item.memberJoinDay+'</td>';		// 입사일
							contents += '<td>'+item.memberEmployeeCode+'</td>';	// 사번
							for (var i = 0; i < item.leaveCategoryNumber; i++) {
								contents += '<td class="text-primary">'; // 부여일
								contents += ''+grantDay[i]+'일 ';
								if (grantHour[i] != 0) {
									contents += '<br>'+grantHour[i]+'시간';
								}
								contents += '</td>';
								contents += '<td class="text-danger">';	// 사용일
								contents += ''+usedDay[i]+'일 ';
								if (usedHour[i] != 0) {
									contents += '<br>'+usedHour[i]+'시간';
								}
								contents += '</td>';
								contents += '<td>';	// 잔여일
								contents += ''+remainingDay[i]+'일 ';
								if (remainingHour[i] != 0) {
									contents += '<br>'+remainingHour[i]+'시간';
								}								
								contents += '</td>';
							}
							contents += '</tr>';
							console.log('contents : '+contents);
							// contents 변수에 담긴 내용을 historyTable 테이블 바디에 추가
							$('#historyTable tbody').append(contents);
							// 변수 값 초기화
							contents = "";
						});
					},	
					error : function(error){
						console.log(error);
					}
				});
			});
		});
	</script>
	<style>
		.test tr th{
		    text-align: center;
		    min-width: 150px;
		    position: relative;
		}
	</style>	
</th:block>
<th:block layout:fragment="customBody">
<div class="row">
	<!-- 왼쪽 카드 영역 시작 -->
	<div class="col-3">
		<div class="card" style="min-height: 100%;">
			<!-- 왼쪽 카드 제목 -->
			<div class="card-header">조직도</div>
			<!-- 왼쪽 카드 내용 -->
			<div class="card-body">
				<div th:each="recursiveList: ${recursiveList}">
					<button class="departmentNameButton btn btn-outline-dark"
						th:text="${recursiveList.departmentName}"
						th:value="${recursiveList.departmentName}">
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 왼쪽 카드 영역 종료 -->
	<!-- 오른쪽 카드 영역 시작 -->
	<div class="col-9">
		<!-- 오른쪽 카드 제목 -->
		<div class="card" style="min-height: 100%;">
			<div class="card-header">
				휴가 기준 : 회계연도&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;검색 연도 : 2019 년
			</div>
			<div class="card-body" style="padding:0px;">
				<!-- 전체 조직원 휴가 내역 테이블 -->
				<div style="width:100%; height:480px; overflow:auto;">
					<div class="container" style="padding:0px;">
						<div class="table-responsive">
							<table class="table table-bordered test" id="historyTable">
								<thead>
									<tr>
										<th rowspan="2">이름</th>
										<th rowspan="2">직위/직책</th>
										<th rowspan="2">입사일</th>
										<th rowspan="2">사번</th>
										<p th:each="categoryList : ${leaveCategoryList}">
											<th colspan="3" th:text="${categoryList.leaveCategorySort}"></th>
										</p>
									</tr>
							        <tr>
							        	<p th:each="categoryList : ${leaveCategoryList}">
											<th>부여 일수</th>
											<th>사용 일수</th>
											<th>잔여 일수</th>
										</p>
							        </tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>										
			</div>
		</div>
	</div>
	<!-- 오른쪽 카드 영역 종료 -->
</div>
</th:block>

<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>
	
</html>
