<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="ksmart31.team02lsj.document.mapper.DocumentManagementMapper">
	<!-- 관리자 문서관리 전체리스트 -->
	<select id="selectDraftDocumentList"
		resultType="ksmart31.team02lsj.document.domain.DraftDocument">
		SELECT
		draft_document_code AS draftDocumentCode,
		draft_document_status AS draftDocumentStatus,
		draft_document_file_save_name AS draftDocumentFileSaveName,
		draft_document_member_name AS draftDocumentMemberName,
		draft_document_date AS draftDocumentDate,
		draft_document_final_approval_member_name AS draftDocumentFinalApprovalMemberName,
		draft_document_final_approval_date AS draftDocumentFinalApprovalDate,
		document_opinion_count AS documentOpinionCount,
		document_attatch_file_count AS documentAttatchFileCount
		FROM draft_document
		ORDER BY draft_document_date DESC
	</select>
		<!-- 관리자 문서삭제 -->
	<delete id="deleteDraftDocumentByDraftDocumentCode"
		parameterType="ksmart31.team02lsj.document.domain.DraftDocument">
		DELETE FROM  draft_document WHERE draft_document_code=#{draftDocumentCode};
		DELETE FROM  document_opinion WHERE draft_document_code=#{draftDocumentCode};
		DELETE FROM  document_attached_file  WHERE draft_document_code=#{draftDocumentCode};
		DELETE FROM  approval_member  WHERE draft_document_code=#{draftDocumentCode};
		DELETE FROM  approval_member_receive  WHERE draft_document_code=#{draftDocumentCode};
		DELETE FROM  approval_member_circulation  WHERE draft_document_code=#{draftDocumentCode};
		DELETE FROM  approval_related_document  WHERE draft_document_code=#{draftDocumentCode};
		DELETE FROM  purchase_requisition WHERE draft_document_code=#{draftDocumentCode};
		DELETE FROM  disbursement_document WHERE draft_document_code=#{draftDocumentCode};
		DELETE FROM  leave_application WHERE draft_document_code=#{draftDocumentCode};
		DELETE FROM  project_report WHERE draft_document_code=#{draftDocumentCode};
		DELETE FROM  project_disbursement WHERE draft_document_code=#{draftDocumentCode};		
	</delete>
	
	<!-- 관리자 문서관리 상세정보 확인을위한 문서양식 select -->
	<select id="selectDocumentFormTitleByApprovalDocumentCode"
		parameterType="String" resultType="String">
		SELECT
		df.document_form_name AS documentFormName
		FROM draft_document AS dd
		JOIN document_form AS df
		ON dd.document_form_category_code = df.document_form_category_code
		WHERE dd.draft_document_code= #{draftDocumentCode}
	</select>
	
	<!-- 구매요청서 입력데이터 select 쿼리문 -->
	<select id="selectPurchaseRequisitionDetail"
		parameterType="String"
		resultType="ksmart31.team02lsj.document.domain.PurchaseRequisition">
		SELECT 
		dd.draft_document_member_name AS memberName,
		dd.draft_document_member_position_name AS memberPositionName, 
		dd.draft_document_member_department_name AS departmentName
		pr.purchase_requisition_date AS purchaseRequisitionDate, 
		pr.purchase_requisition_pay_day AS purchaseRequisitionPayDay,
		pr.purchase_requisition_total_price AS purchaseRequisitionTotalPrice,
		pr.purchase_requisition_item_category AS purchaseRequisitionItemCategory,
		pr.purchase_requisition_item AS purchaseRequisitionItem,
		pr.purchase_requisition_item_unit AS purchaseRequisitionItemUnit,
		pr.purchase_requisition_item_count AS purchaseRequisitionItemCount,
		pr.purchase_requisition_item_price AS purchaseRequisitionItemPrice,
		pr.purchase_requisition_etc AS purchaseRequisitionEtc
		FROM purchase_requisition AS pr
		JOIN  draft_document AS dd
		ON pr.draft_document_code = dd.draft_document_code;
		WHERE dd.draft_document_code = #{draftDocumentCode}
	</select>
	
	<!-- 지출결의서 입력데이터 select 쿼리 -->
	<select id="selectDisbursementDocumentDetail"
		parameterType="String"
		resultType="ksmart31.team02lsj.document.domain.DisbursementDocument">
		SELECT
		dd.draft_document_member_name AS memberName,
		dd.draft_document_member_position_name AS memberPositionName, <!-- 직위 -->
		dd.draft_document_member_department_name AS departmentName,
		dd.draft_document_member_employee_code AS memberEmployeeCode,
		dbd.disbursement_document_account AS disbursementDocumentAccount,
		dbd.disbursement_document_terms_of_payment AS disbursementDocumentTermsOfPayment,
		dbd.disbursement_document_date AS disbursementDocumentDate,
		dbd.disbursement_document_request_date AS disbursementDocumentRequestDate,
		dbd.disbursement_document_account AS disbursementDocumentAccount,
		dbd.disbursement_document_expense_date AS disbursementDocumentExpenseDate,
		dbd.disbursement_document_subject AS disbursementDocumentSubject
		dbd.disbursement_document_contents AS disbursementDocumentContents,
		dbd.disbursement_document_customer AS disbursementDocumentCustomer,
		dbd.disbursement_document_price AS disbursementDocumentPrice,
		dbd.disbursement_document_methods_of_payment AS disbursementDocumentMethodsOfPayment,
		dbd.disbursement_document_etc AS disbursementDocumentEtc,
		dbd.disbursement_document_evidence AS disbursementDocumentEvidence
		FROM disbursement_document AS dbd
		JOIN  draft_document AS dd
		ON dbd.draft_document_code = dd.draft_document_code
		WHERE dd.draft_document_code = #{draftDocumentCode}
	</select>
	
	<!-- 휴가보고서 입력데이터 select 쿼리 -->
	<select id="selectLeaveApplicationDetail" parameterType="String"
		resultType="ksmart31.team02lsj.document.domain.LeaveApplication">
		SELECT
		dd.draft_document_member_department_name AS departmentName,
		dd.draft_document_member_position_name AS memberPositionName,
		dd.draft_document_member_name AS memberName,
		la.leave_application_date AS leaveApplicationDate,
		la.leave_category_sort AS leaveCategorySort,
		la.leave_application_start_day AS leaveApplicationStartDay,
		la.leave_application_end_day AS leaveApplicationEndDay,
		la.leave_application_day AS leaveApplicationDay,
		la.leave_application_hour AS leaveApplicationHour,
		la.leave_application_reason AS leaveApplicationReason,
		la.leave_detail_sort AS leaveDetailSort
		FROM leave_application AS la 
		JOIN draft_document AS dd
		ON la.draft_document_code = dd.draft_document_code
		WHERE dd.draft_document_code = #{draftDocumentCode}
	</select>
	
	<!-- 프로젝트 업무보고 입력데이터 selelct 쿼리 -->
	<select id="selectProjectReportDetail" parameterType="String"
		resultType="ksmart31.team02lsj.document.domain.ProjectReport">
	</select>
	
	<!-- 프로젝트 지출결의서 입력데이터 select 쿼리  -->
	<select id="selectProjectDisbursementDetail"
		parameterType="String"
		resultType="ksmart31.team02lsj.document.domain.ProjectDisbursement">
	</select>
	
	<!-- 문서 상세별 의견 데이터 select 쿼리 -->
	<select id="selectDocumentOpinion"
		parameterType="String"
		resultType="ksmart31.team02lsj.document.domain.DocumentOpinion">
		SELECT
		ddo.approval_opinion_code AS approvalOpinionCode
		ddo.approval_opinion_desc AS approvalOpinionDesc,
		ddo.approval_registrant_name AS approvalOpinionDesc,
		ddo.document_opinion_date AS approvalOpinionDesc
		FROM document_opinion AS ddo
		JOIN draft_document AS dd
		ON do.draft_document_code = dd.draft_document_code
		WHERE dd.draft_document_code = #{draftDocumentCode}
	</select>
	
	<!-- 문서 상세별 첨부파일 select 쿼리 -->
	<select id="selectDocumentAttachedFile"
		parameterType="String"
		resultType="ksmart31.team02lsj.document.domain.DocumentAttachedFile">
		SELECT
		daf.document_attached_file_code AS documentAttachedFileCode,
		daf.document_attached_file_origin_name AS documentAttachedFileOriginName,
		daf.document_attached_file_date AS approvalFileDate
		FROM document_attached_file AS daf
		JOIN draft_document AS dd
		ON daf.draft_document_code = dd.draft_document_code
		WHERE dd.draft_document_code = #{draftDocumentCode}		
	</select>
	
	<!-- 문서상세별 결재순서(프로세스) select 쿼리 -->
	<select id="selectDocumentApprovalProcess"
		parameterType="String"
		resultType="ksmart31.team02lsj.document.domain.ApprovalMember">
		SELECT
		am.approval_member_code AS approvalMemberCode,
		am.approval_member_name AS approvalMemberName,
		am.approval_turn_number AS approvalTurnNumber,
		am.approval_date AS approvalDate,
		am.approval_member_status AS approvalMemberStatus,
		am.approval_final_approver_case AS approvalFinalApproverCase,
		am.approval_modify_right AS approvalModifyRight,
		am.approval_final_approval_right AS approvalFinalApprovalRight
		FROM approval_member AS am
		JOIN draft_document AS dd
		ON am.draft_document_code = dd.draft_document_code
		WHERE dd.draft_document_code = #{draftDocumentCode}		
	</select>
</mapper>