<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>지출결의서</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	
	<th:block layout:fragment="customBody">
		<div class="row">
			<!-- 왼쪽칸 -->
			<div class="col-7">
				<div class="card" style="min-height: 484px;">
			        <div class="card-header"><h3>지출결의서</h3></div>
		            <div class="card-body">
		                <form class="forms-sample">
		                	<!-- 첫번째 테이블 -->
		                	<div class="form-control form-txt-inverse" style="padding:10px;">
		               			<div class="form-group">
		                            <label for="exampleInputName1">제목</label>
		                            <input type="text" class="form-control" id="exampleInputName1" placeholder="">
		                        </div>
		                        <div class="row">
		                            <div class="col-md-6">
		                                <div class="form-group">
		                                    <label for="exampleInputEmail3">부서</label>
		                                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="">
		                                </div>
		                            </div>
		                            <div class="col-md-6">
		                                <div class="form-group">
		                                    <label for="exampleSelectGender">담당자</label>
		                                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="">
		                                </div>
		                            </div>
		                        </div>
		                        <div class="row">
		                            <div class="col-md-6">
		                                <div class="form-group">
		                                    <label for="exampleInputEmail3">계좌번호(은행)</label>
		                                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="">
		                                </div>
		                            </div>
		                            <div class="col-md-6">
		                                <div class="form-group">
		                                    <label for="exampleSelectGender">예금주</label>
		                                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="">
		                                </div>
		                            </div>
		                        </div>
		                        <div class="row">
		                            <div class="col-md-6">
		                                <div class="form-group">
		                                    <label for="exampleInputEmail3">합계금액</label>
		                                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="">
		                                </div>
		                            </div>
		                            <div class="col-md-6">
		                                <div class="form-group">
		                                    <label for="exampleSelectGender">지급조건</label>
		                                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="">
		                                </div>
		                            </div>
		                        </div>
		                        <div class="row">
		                            <div class="col-md-6">
		                                <div class="form-group">
		                                    <label for="exampleInputEmail3">기안일</label>
		                                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="">
		                                </div>
		                            </div>
		                            <div class="col-md-6">
		                                <div class="form-group">
		                                    <label for="exampleSelectGender">지급요청일</label>
		                                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="">
		                                </div>
		                            </div>
		                        </div>
	                        </div>
	                        <br>
	                        
	                        <!-- 두번째 테이블 -->
	                        <div class="form-group row">
	                        	<label for="exampleInputUsername2" class="col-sm-3 col-form-label">계정과목</label>
	                               <div class="col-sm-3">
                                   		<select class="form-control" id="exampleSelectGender">
	                                     	 <option></option>
											 <option>복리후생비</option>
											 <option>여비교통비</option>
											 <option>차량유지비</option>
											 <option>사무용품비</option>
											 <option>통신비</option>
											 <option>운송비</option>
											 <option>원재료</option>
											 <option>상품</option>
                                 		</select>
	                           		</div>
	                         </div>
	                           <div class="form-group row">
	                               <label for="exampleInputEmail2" class="col-sm-3 col-form-label">지출일</label>
	                               <div class="col-sm-6">
	                                   <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
	                               </div>
	                           </div>
	                           <div class="form-group row">
	                               <label for="exampleInputUsername2" class="col-sm-3 col-form-label">지출내용</label>
	                               <div class="col-sm-6">
	                                   <input type="text" class="form-control" id="exampleInputUsername2" placeholder="">
	                           	</div>
	                           </div>
	                           <div class="form-group row">
	                               <label for="exampleInputEmail2" class="col-sm-3 col-form-label">거래처</label>
	                               <div class="col-sm-6">
	                                   <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
	                               </div>
	                           </div>
	                           <div class="form-group row">
	                               <label for="exampleInputUsername2" class="col-sm-3 col-form-label">금액</label>
	                               <div class="col-sm-6">
	                                   <input type="text" class="form-control" id="exampleInputUsername2" placeholder="">
	                           	</div>
	                           </div>
	                           <div class="form-group row">
	                               <label for="exampleInputEmail2" class="col-sm-3 col-form-label">결제수단</label>
	                               <div class="col-sm-3">
	                                  	 <select class="form-control" id="exampleSelectGender">
	                                     <option></option>
										 <option>신용카드</option>
										 <option>계좌이체</option>
										 <option>현금</option>
										 <option>개인 신용카드</option>
										 <option>법인 신용카드</option>
										 <option>어음</option>
	                                 </select>
	                               </div>
	                           </div>
	                           <div class="form-group row">
	                               <label for="exampleInputUsername2" class="col-sm-3 col-form-label">비고</label>
	                               <div class="col-sm-6">
	                                   <input type="text" class="form-control" id="exampleInputUsername2" placeholder="">
	                           	</div>
	                           </div>
	                           <div class="form-group row">
	                               <label for="exampleInputEmail2" class="col-sm-3 col-form-label">증빙</label>
	                               <div class="col-sm-6">
	                                   <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
	                               </div>
	                           </div>
			        	</form>
			            <button type="submit" class="btn btn-primary mr-2">Submit</button>
			            <button class="btn btn-light">Cancel</button>
			    </div>
				</div>
			</div>
			
			<!-- 오른쪽 칸 -->
			<div class="col-5">
				<div class="card" style="min-height: 484px;">
					<div class="card-body">
		                <form class="forms-sample">
		                	<table>
		                		<tr>
		                			<td>뭐</td>
		                		</tr>
		                	</table>
		               	</form>
		            </div>
				</div>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
	
</html>
