<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>휴가신청서</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	
	<th:block layout:fragment="customBody">
		<div class="col-md-9">
			<div class="card" style="min-height: 484px;">
		        <div class="card-header"><h3>휴가신청서</h3></div>
		            <div class="card-body">
		                <form class="forms-sample">
			                <!-- 첫번째 테이블 -->
		                	<div class="form-group row">
		                        <label for="departmentName" class="col-sm-3 col-form-label">부서</label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control" id="departmentName" th:value="${loginMember.departmentName}">
		                        </div>
		                    </div>
		                    <div class="form-group row">
		                        <label for="memberPositionName" class="col-sm-3 col-form-label">직위/직책</label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control" id="memberPositionName" th:value="${loginMember.memberPositionName}">
		                        </div>
		                    </div>
		                    <div class="form-group row">
		                        <label for="memberName" class="col-sm-3 col-form-label">신청자명</label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control" id="memberName" th:value="${loginMember.memberName}">
		                        </div>
		                    </div>
		                    <div class="form-group row">
		                        <label for="draftDocumentDate" class="col-sm-3 col-form-label">기안일</label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control" id="draftDocumentDate">
		                        </div>
		                    </div>
		                    <div class="form-group row">
		                        <label for="exampleInputMobile" class="col-sm-3 col-form-label">휴가일수 합계</label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control" id="exampleInputMobile" placeholder="">
		                        </div>
		                    </div>
        
						    <!-- 두 번째 테이블 -->
						    <div class="form-control form-txt-inverse" style="padding:10px;">
			    				<div class="form-group row">
			                        <label for="draftDocumentDate" class="col-sm-3 col-form-label">휴가종류</label>
			                        <div class="col-sm-5">
					                     <select class="form-control" id="exampleSelectGender">
		                                     <option></option>
											 <option>오전 반차 휴가</option>
											 <option>오후 반차 휴가</option>
		                                 </select>
			                        </div>
			                    </div>
			     				<div class="form-group row">
			                        <label for="draftDocumentDate" class="col-sm-3 col-form-label">휴가기간</label>
			                        <div class="col-sm-5">
					                	<input type="email" class="form-control" id="exampleInputEmail3" placeholder="휴가기간">
			                        </div>
			                    </div>
			                    <div class="form-group row">
			                        <label for="leaveApplicationDays" class="col-sm-3 col-form-label">휴가일수</label>
			                        <div class="row">
		                             	<div class="col-sm-3">
		                          			<input type="email" class="form-control" id="leaveApplicationDays" placeholder="휴가일수">
		                          		</div>
		                          		<div class="col-sm-3">
		                          			<span>일</span>
		                          		</div>
		                          		<div class="col-sm-3">
		                          			<select class="form-control" id="leaveApplicationDays">
		                                  		<option></option>
		                                  		<option>0</option>
		                                  		<option>1</option>
		                                  		<option>2</option>
		                                  		<option>3</option>
		                                  		<option>4</option>
		                                  		<option>5</option>
		                                  		<option>6</option>
		                                  		<option>7</option>
		                             		</select>
		                             	</div>
		                             	<div class="col-sm-3">
		                             		<span>시간</span>
		                            	</div>
		                         	</div>
			                    </div>
			    				<div class="form-group row">
			                        <label for="draftDocumentDate" class="col-sm-3 col-form-label">휴가사유</label>
			                        <div class="col-sm-5">
					                	<textarea class="form-control" id="leaveApplicationReason" rows="4"></textarea>
			                        </div>
				                </div>
				    		</div>
			        	</form>
			            <button type="submit" class="btn btn-primary mr-2">Submit</button>
			            <button class="btn btn-light">Cancel</button>
			    </div>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
	
</html>
