<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>프로젝트 업무보고</title>
		<th:block th:include="layout/customHead"></th:block>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" />
		<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
		<script type="text/javascript">
			$(function() {
				// 양식목록에서 넘겨준 데이터 확인
				function getQuerystring(paramCode){ 
					var _tempUrl = window.location.search.substring(1); //url에서 처음부터 '?'까지 삭제 
					var _tempArray = _tempUrl.split('&'); // '&'을 기준으로 분리하기 
					for(var i = 0; _tempArray.length; i++) { 
						var _keyValuePair = _tempArray[i].split('='); // '=' 을 기준으로 분리하기 
						if(_keyValuePair[0] == paramCode){
							// _keyValuePair[0] : 파라미터 명 
							// _keyValuePair[1] : 파라미터 값 
							return _keyValuePair[1]; 
						} 
					} 
				} 
				
				console.log('documentFormCode:'+getQuerystring('documentFormCode'));
				console.log('documentFormCategoryCode:'+getQuerystring('documentFormCategoryCode'));
				
				let documentFormCode = getQuerystring('documentFormCode');
				let documentFormCategoryCode = getQuerystring('documentFormCategoryCode');
				
				// 문서 기안
				$('#addDraftDocument').click(function() {
					console.log('#addDraftDocument click!!');
					$.ajax({
						url:'/member/addDraftDocument'
						, type:'POST'
						, data : {'documentFormCode':documentFormCode, 'documentFormCategoryCode':documentFormCategoryCode}
						, success : function() {
							console.log('성공');
						} 
					});
					
					// 기안 후 내 기안 목록으로 이동
					location.href="/documentBox/draftDocument";
				});
				
				// 페이지 로드시 결재선 목록
				$.ajax({
					url:'/member/getApprovalProcess'
					, type:'POST'
					, data : {}
		            , success:function(data) {
		            	console.log('비동기 요청 성공');
		            	console.log('결재선');
		            	console.log(data);
		            	$('#approvalProcessList').empty();
		            	// 요청 성공시 결재선목록 뿌려주기
		                $(data).each(function(i,item){
		                    $('#approvalProcessList').append('<option value="'+item.approvalProcessCode+'">'+item.approvalProcessName+'</option>');
		        	   	});
		            }
				});
				
				// 의견 추가
				$('#insertOpinion').click(function(){
					let optionIndex = 1;
					console.log('insertOpinion click...');
					let opinion = $('#ttt').val()
					$('#approvalOpinionList').append('<input type="text" class="form-control" name="approvalOpinionDesc['+optionIndex+']" value='+opinion+'>');
					opinion = "";
				});
				
				// 의견 목록
				$('#opinion').click(function() {
					console.log('#opinion click!');
					$.ajax({
						url:'/member/approvalOpinionList'
						, type:'GET'
						, data : {}
			            , success:function(data) {
			            	console.log('비동기 요청 성공');
			            	console.log('의견');
			            	console.log(data);
			            	$('#approvalOpinionList').empty();
			            	// 요청 성공시 의견 목록 뿌려주기
			            	$(data).each(function(i,item){
			            		if($('#approvalOpinionList') != null) {
				                    $('#approvalOpinionList').append('<tr>');
				                    $('#approvalOpinionList').append('<td>'+item.memberName+'</td>');
				                    $('#approvalOpinionList').append('<td>'+item.approvalOpinionDesc+'</td>');
				                    $('#approvalOpinionList').append('<td>'+item.approvalOpinionDate+'</td>');
				                    $('#approvalOpinionList').append('</tr>');
			            		}else {
				                    $('#approvalOpinionList').append('<tr>');
				                    $('#approvalOpinionList').append('<td>의견이 없습니다.</td>');
				                    $('#approvalOpinionList').append('</tr>');
			            		}
			        	   	});
			            }
					});
				});
				
				// 첨부파일 목록
				$('#file').click(function() {
					console.log('#file click!!');
					$.ajax({
						url:'/member/approvalFileList'
						, type:'GET'
						, data : {}
			            , success:function(data) {
			            	console.log('비동기 요청 성공');
			            	console.log('파일');
			            	console.log(data);
			            	$('#approvalFileList').empty();
			            	// 요청 성공시 첨부파일 목록 뿌려주기
			            	$(data).each(function(i,item){
			            		if($('#approvalFileList') != null) {
				                    $('#approvalFileList').append('<tr>');
				                    $('#approvalFileList').append('<td>'+item.approvalFileSaveName+'</td>');
				                    $('#approvalFileList').append('<td>'+item.approvalFileExt+'</td>');
				                    $('#approvalFileList').append('</tr>');
			            		}else {
			            			$('#approvalFileList').append('<tr>');
				                    $('#approvalFileList').append('<td>파일이 없습니다.</td>');
				                    $('#approvalFileList').append('</tr>');
			            		}
			        	   	});
			            }
					});
				});
				
				// 작성일
				document.getElementById('projectReportDate').value= new Date().toISOString().slice(0, 16);
			});
		</script>
	</th:block>
	
	<th:block layout:fragment="customBody">
		<div class="page-header">
		    <div class="row align-items-end">
		        <div class="col-lg-8">
		            <div class="page-header-title">
		                <i class="ik ik-box bg-blue"></i>
		                <div class="d-inline">
		                    <h5>프로젝트 업무보고</h5>
		                    <span>프로젝트별 업무 내역을 보고하기 위하여 사용하는 양식입니다.</span>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="row">
			<!-- 왼쪽 칸 시작 -->
			<div class="col-md-8">
				<div class="card" style="min-height: 484px;">
			        <div class="card-header"><h3>프로젝트 업무보고</h3></div>
		            <div class="card-body">
		                <form class="forms-sample">
		                	<div class="form-group row">
		                        <label for="departmentName" class="col-sm-3 col-form-label">부서</label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control" id="departmentName" th:value="${loginMember.departmentName}">
		                        </div>
		                    </div>
		                    <div class="form-group row">
		                        <label for="memberPositionName" class="col-sm-3 col-form-label">직위/직책</label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control" id="memberPositionName" th:value="${loginMember.memberPositionName}">
		                        </div>
		                    </div>
		                    <div class="form-group row">
		                        <label for="memberName" class="col-sm-3 col-form-label">신청자명</label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control" id="memberName" th:value="${loginMember.memberName}">
		                        </div>
		                    </div>
		                    <div class="form-group row">
		                        <label for="draftDocumentDate" class="col-sm-3 col-form-label">작성일</label>
		                        <div class="col-sm-9">
		                            <input type="datetime-local" class="form-control" id="projectReportDate">
		                        </div>
		                    </div>
		                    <div class="form-group row">
		                        <label for="projectName" class="col-sm-3 col-form-label">프로젝트명</label>
		                        <div class="col-sm-6">
	                            	<select class="form-control" id="projectName">
	                                     <option>선택하세요</option>
	                                 </select>
		                        </div>
		                    </div>
		                    <div class="form-group row">
		                        <label for="projectReportDetails" class="col-sm-3 col-form-label">프로젝트 업무 내역</label>
		                        <div class="col-sm-6">
									<textarea class="form-control html-editor" rows="10"></textarea>
		                        </div>
		                    </div>
		                    <div class="form-group row">
		                        <label for="projectReportIssue" class="col-sm-3 col-form-label">프로젝트 이슈사항</label>
		                        <div class="col-sm-6">
									<textarea class="form-control html-editor" rows="10"></textarea>
		                        </div>
		                    </div>
		                    <div class="form-group row">
		                        <label for="projectRreportRequest" class="col-sm-3 col-form-label">프로젝트 요청사항</label>
		                        <div class="col-sm-6">
									<textarea class="form-control html-editor" rows="10"></textarea>
		                        </div>
		                    </div>
				        </form>
				    </div>
				</div>
			</div>
			<!-- 왼쪽 칸 끝 -->
			
			<!-- 오른쪽 칸 시작-->
			<div class="col-4">
				<div class="card" style="min-height: 484px;">
					<div class="card-body">
						<ul class="nav nav-tabs">
						  <li class="nav-item">
						    <a class="nav-link active" id="approvalProcessLine" data-toggle="tab" href="#approvalProcess">결재선 설정</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="opinion" data-toggle="tab" href="#opinionList">의견</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="file" data-toggle="tab" href="#fileList">첨부파일</a>
						  </li>
						</ul>
						<br>
						<div class="tab-content">
							<!-- 결재선 설정 탭 -->
							<div class="tab-pane fade show active" id="approvalProcess">
							     <form class="sample-form">
							          <div class="form-group">
							               <select class="form-control select2" id="approvalProcessList">
										   </select>
							          </div>
							     </form>
							</div>
							<!-- 의견 탭 -->
							<div class="tab-pane fade" id="opinionList">
								<div class="card-block">
									<div class="table-responsive">
										<table style="width:100%">
											<tbody id="approvalOpinionList">
									        </tbody>
										</table>
									</div>
								</div>
						  		<div class="right-icon-control m-t-15">
                                    <div class="input-group input-group-button">
                                        <input type="text" class="form-control" placeholder="의견을 등록해주세요.">
                                        <div class="input-group-append">
                                            <button id="insertOpinion" class="btn btn-primary" type="button"><i class="ik ik-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
							</div>
							<!-- 첨부파일 탭 -->
							<div class="tab-pane fade" id="fileList">
								<div class="card-block">
									<div class="table-responsive">
										<table style="width:100%">
											<tbody id="approvalFileList">
									        </tbody>
										</table>
										<button type="button" class="btn btn-outline-secondary btn-rounded"><i class="ik ik-share"></i>Upload</button>
									</div>
								</div>
							</div>
						</div>
		            </div>
		            <div class="modal-footer">
                        <button type="button" class="btn btn-primary">기안하기</button>
                        <button type="button" class="btn btn-secondary">임시저장</button>
                    </div>
				</div>
			</div>
			<!-- 오른쪽 칸 끝-->
		</div>
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
	
</html>